@inject RouteDataAccessor RouteDataAccessor

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" OnNavigateAsync="@OnNavigate">
        <Found Context="routeData">
            <FoundRouteData RouteData="@routeData" />
            <AuthorizeRouteView Resource="@routeData" RouteData="@routeData">
                <NotAuthorized>
                    <NotAuthorizedOptions />
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not Found</PageTitle>
            <h1>Not Found</h1>
            <p role="alert">Sorry, there's nothing at this address.</p>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code
{
    internal void OnNavigate(NavigationContext context)
    {
        RouteDataAccessor.RouteData = null;
    }
}