@page "/Cards/Create"
@using System.Linq.Expressions
@using MtgViewer.Services.Search
@inject SymbolFormatter MtgSymbols

<PageTitle> Add Cards </PageTitle>

<h1>Add Card(s)</h1>

<SavePrompt @bind-Result="Result">
    <SuccessMessage>
        New cards were successfully added.
    </SuccessMessage>
    <ErrorMessage>
        @if (IsSearchError)
        {
            <text>No Matches were found.</text>
        }
        else
        {
            <text>Ran into issues while try to add the new cards.</text>
        }
    </ErrorMessage>
</SavePrompt>

<form @onsubmit="AddNewCardsAsync">
    <div class="btn-group pb-2" role="group">

        <button title="Reset Search Arguments" type="button" @onclick="Reset" disabled="@IsLoading"
            class="btn btn-danger">
            Reset </button>

        <button title="Add Selected Cards" type="submit" class="btn btn-secondary"
            disabled="@(IsLoading || !CanAddCards)">
            Add Cards/Copies </button>
    </div>

    <div class="table-responsive-md">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"> @HtmlHelpers.GetDisplay((Card c) => c.Name) </th>
                    <th scope="col"> @HtmlHelpers.GetDisplay((Card c) => c.ManaCost) </th>
                    <th scope="col"> @HtmlHelpers.GetDisplay((Card c) => c.SetName) </th>
                    <th scope="col"> @HtmlHelpers.GetDisplay((Card c) => c.Rarity) </th>
                    <th scope="col"> Copies </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var match in Matches)
                {
                    var card = match.Card;
                    <tr>
                        <td>
                            <HoverCard Target="card">
                                @if (match.HasDetails)
                                {
                                    <a href="/Cards/Details/@card.Id"> @card.Name </a>
                                }
                                else
                                {
                                    <span class="btn-link"> @card.Name </span>
                                }
                            </HoverCard>
                        </td>
                        <td>
                            <div class="ms-group">
                                @MtgSymbols.Format(card.ManaCost).ToMarkupString()
                            </div>
                        </td>
                        <td> @card.SetName </td>
                        <td> @card.Rarity </td>
                        <td>
                            <input @bind="match.Copies" title="@card.Name Copies" type="number" min="0" max="@match.Limit"
                                class="form-control amt-input" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>

<div class="btn-group pb-3">
    <button title="More Results" type="button" class="btn btn-secondary" @onclick="LoadMoreCardsAsync"
        disabled="@(!HasNext || IsLoading)">
        @if (IsLoading)
        {
            <text>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"> </span>
                Loading...
            </text>
        }
        else
        {
            <text> Load More </text>
        }
    </button>
</div>
