@page
@model Cards.CreateModel
@{
    ViewData["Title"] = "Create";
}

@inject Services.IMTGSymbols MtgSymbols


<h1>Add New Card</h1>
<hr />

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @Model.ErrorMessage
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form method="POST">

            @if(Model.Matches is not null && Model.Matches.Any())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameForInnerType((Card c) => c.Name)
                            </th>
                            <th>
                                @Html.DisplayNameForInnerType((Card c) => c.ManaCost)
                            </th>
                            <th>
                                @Html.DisplayNameForInnerType((Card c) => c.Rarity)
                            </th>
                            <th>
                                @Html.DisplayNameForInnerType((Card c) => c.SetName)
                            </th>
                            <th>
                                @Html.DisplayNameForInnerType(
                                    (CreateModel.AmountModel a) => a.Amount)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(int i = 0; i < Model.Matches.Count; ++i)
                        {
                            var card = Model.Matches[i];
                            <tr>
                                <td>
                                    @Html.DisplayFor(_ => card.Name)
                                    <input type="hidden" asp-for="Matches[i].Name"/>
                                </td>
                                <td>
                                    @MtgSymbols.InjectIcons(card.ManaCost).ToHtmlString()
                                    <input type="hidden" asp-for="Matches[i].ManaCost"/>
                                </td>
                                <td>
                                    @Html.DisplayFor(_ => card.Rarity)
                                    <input type="hidden" asp-for="Matches[i].Rarity"/>
                                </td>
                                <td>
                                    @Html.DisplayFor(_ => card.SetName)
                                    <input type="hidden" asp-for="Matches[i].SetName"/>
                                </td>
                                <td>
                                    <input type="hidden" asp-for="Matches[i].MultiverseId"/>

                                    <input asp-for="Amounts[i].Id"/>
                                    <input asp-for="Amounts[i].Amount"/>
                                    <span asp-validation-for="Amounts[i].Amount" class="text-danger"></span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="form-group">
                    <input type="submit"
                           asp-page-handler="Amounts"
                           class="btn btn-secondary"
                           value="Add" />

                    <a asp-page="Create"
                       class="btn btn-secondary">
                       Reset
                    </a>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="Card.Name" class="control-label"></label>
                    <input asp-for="Card.Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Card.ManaCost" class="control-label"></label>
                    <input asp-for="Card.ManaCost" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Card.Cmc" class="control-label"></label>
                    <input asp-for="Card.Cmc" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Card.Rarity" class="control-label"></label>
                    <input asp-for="Card.Rarity" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Card.SetName" class="control-label"></label>
                    <input asp-for="Card.SetName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Card.Artist" class="control-label"></label>
                    <input asp-for="Card.Artist" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Card.Power" class="control-label"></label>
                    <input asp-for="Card.Power" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Card.Toughness" class="control-label"></label>
                    <input asp-for="Card.Toughness" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Card.Loyalty" class="control-label"></label>
                    <input asp-for="Card.Loyalty" class="form-control" />
                </div>

                <div class="form-group">
                    <input type="submit"
                           asp-page-handler="Card"
                           class="btn btn-secondary"
                           value="Search" />
                </div>
            }
        </form>
    </div>
</div>

@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@
