@page
@model Cards.CreateModel
@{
    ViewData["Title"] = "Create";
}
@inject SymbolFormatter MtgSymbols


<h1>Add New Card</h1>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @Model.ErrorMessage
    </div>
}

<form method="POST">
    @if(Model.Matches?.Any() ?? false)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameForInnerType((Card c) => c.Name)
                    </th>
                    <th>
                        @Html.DisplayNameForInnerType((Card c) => c.ManaCost)
                    </th>
                    <th>
                        @Html.DisplayNameForInnerType((Card c) => c.Rarity)
                    </th>
                    <th>
                        @Html.DisplayNameForInnerType((Card c) => c.SetName)
                    </th>
                    <th>
                        @Html.DisplayNameForInnerType(
                            (CreateModel.AmountModel a) => a.Amount)
                    </th>
                </tr>
            </thead>
            <tbody>
                @for(int i = 0; i < Model.Matches.Count; ++i)
                {
                    var card = Model.Matches[i];
                    <tr>
                        <td> 
                            <input type="hidden" asp-for="Matches[i].Name" />
                            <input type="hidden" asp-for="Matches[i].MultiverseId"/>
                            @Html.DisplayFor(_ => card.Name) 
                        </td>

                        <td> 
                            <input type="hidden" asp-for="Matches[i].ManaCost" />
                            @MtgSymbols.Format(card.ManaCost).ToHtmlString() 
                        </td>

                        <td> 
                            <input type="hidden" asp-for="Matches[i].Rarity" />
                            @Html.DisplayFor(_ => card.Rarity) 
                        </td>
                        <td> 
                            <input type="hidden" asp-for="Matches[i].SetName" />
                            @Html.DisplayFor(_ => card.SetName) 
                        </td>

                        <td>
                            <input asp-for="Amounts[i].Id"/>
                            <input asp-for="Amounts[i].Amount" class="form-control w-50" />
                            <span asp-validation-for="Amounts[i].Amount" class="text-danger"></span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="form-group">
            @if (Model.HasMore)
            {
                <input asp-for="MatchPages.Current" />
                <input asp-for="MatchPages.Total" />

                <input type="hidden" asp-for="Card.Name" />
                <input type="hidden" asp-for="Card.ManaCost" />
                <input type="hidden" asp-for="Card.Cmc" />
                <input type="hidden" asp-for="Card.Rarity" />
                <input type="hidden" asp-for="Card.SetName" />
                <input type="hidden" asp-for="Card.Artist" />
                <input type="hidden" asp-for="Card.Power" />
                <input type="hidden" asp-for="Card.Toughness" />
                <input type="hidden" asp-for="Card.Loyalty" />

                <input type="submit"
                    asp-page-handler="Card"
                    asp-route-pageIndex="@(Model.MatchPages.Current + 1)"
                    class="btn btn-secondary"
                    value="Load More" />
            }
        </div>

        <div class="form-group">
            <input type="submit"
                asp-page-handler="Amounts"
                class="btn btn-secondary"
                value="Add" />

            <a asp-page="Create"
                class="btn btn-secondary">
                Reset </a>
        </div>
    }
    else
    {
        <hr />
        <div class="row">
            <div class="col-md-4">

                <div class="form-group">
                    <label asp-for="Card.Name" class="control-label"></label>
                    <input asp-for="Card.Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Card.ManaCost" class="control-label"></label>
                    <input asp-for="Card.ManaCost" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Card.Cmc" class="control-label"></label>
                    <input asp-for="Card.Cmc" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Card.Rarity" class="control-label"></label>
                    <input asp-for="Card.Rarity" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Card.SetName" class="control-label"></label>
                    <input asp-for="Card.SetName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Card.Artist" class="control-label"></label>
                    <input asp-for="Card.Artist" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Card.Power" class="control-label"></label>
                    <input asp-for="Card.Power" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Card.Toughness" class="control-label"></label>
                    <input asp-for="Card.Toughness" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Card.Loyalty" class="control-label"></label>
                    <input asp-for="Card.Loyalty" class="form-control" />
                </div>

                <div class="form-group">
                    <input type="submit"
                        asp-page-handler="Card"
                        class="btn btn-secondary"
                        value="Search" />
                </div>
            </div>
        </div>
    }
</form>

@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@