@page "{id}"
@model Cards.DeleteModel
@{
    ViewData["Title"] = $"{Model.Card.Name} - Delete";
}
@inject SymbolFormatter MtgSymbols


<div class="row"> 
    <h1 class="h1 col-auto"> Remove @Model.Card.Name </h1>
    <div class="h5 m-0 pl-sm-0 pb-2 pb-sm-0 col-sm-auto col-12 d-flex align-items-center">
        @MtgSymbols.Format(Model.Card.ManaCost).ToHtmlString()
    </div>
</div>

<hr />

<section class="row">
    <div class="col col-sm-10 col-md-8">
        <p>
            Specify the number of card copies to delete from the Treasury. Deleting 
            copies removes them from the system entirely.
        </p>
        <p> 
            Only card copies currenly held in the Treasury can be deleted, while copies 
            held in Decks are left unaffected.
        </p>

        @if (!Model.Card.HasDeckCopies)
        {
            <p>
                Deleting the max number of copies may also <strong>delete @Model.Card.Name</strong>. 
                If there are no copies held in decks.
            </p>
        }
    </div>
</section>

<section class="row">
    <div class="col-8 col-sm-7 col-md-6 col-lg-4">
        <form method="POST">
            <div class="form-group">
                <label asp-for="Input!.RemoveCopies" class="control-label"></label>
                <input asp-for="Input!.RemoveCopies" class="form-control" min="1" max="@Model.Card.StorageCopies" />
                <span asp-validation-for="Input!.RemoveCopies" class="text-danger"></span>

                <p> There are @Model.Card.StorageCopies possible copies to remove </p>
            </div>

            <div class="btn-group" role="group">
                @if (Model.ReturnUrl is not null)
                {
                    <a href="@Model.ReturnUrl"
                        class="btn btn-secondary" role="button">
                        Cancel </a>
                }
                else
                {
                    <a asp-page="Details" asp-route-id="@Model.Card.Id" 
                        class="btn btn-secondary" role="button">
                        Cancel </a>
                }

                <input type="submit" value="Remove" class="btn btn-danger" />
            </div>
        </form>
    </div>
</section>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}