@page "{id}"
@model Cards.DeleteModel
@{
    ViewData["Title"] = $"{Model.Card.Name} - Delete";
}
@inject SymbolFormatter MtgSymbols


<div class="row"> 
    <h1 class="h1 col-auto"> Remove @Model.Card.Name </h1>
    <div class="h5 m-0 pl-sm-0 pb-2 pb-sm-0 col-sm-auto col-12 d-flex align-items-center">
        @MtgSymbols.Format(Model.Card.ManaCost).ToHtmlString()
    </div>
</div>
<hr />

@{ bool inDeck = Model.Card.Amounts
    .Any(a => a.Location is Deck || a.Location is Unclaimed); }

<div class="row">
    <section class="col col-sm-10 col-md-8">
        <p>
            Specify the amount of card copies to delete from the Treasury. Deleting 
            copies removes them from the system entirely.
        </p>
        <p> 
            Only card copies currenly held in the Treasury can be deleted, while copies 
            held in Decks are left unaffected.
        </p>

        @if (!inDeck)
        {
            <p> Deleting the max amount of copies will also <strong>delete @Model.Card.Name</strong>. </p>
        }
    </section>
</div>

<div class="row">
    <section class="col-8 col-sm-7 col-md-6 col-lg-4">
        <form method="POST">
            <input type="hidden" asp-for="Input!.CardId" value="@Model.Card.Id" class="sr-only"/>

            @{ int maxCopies = Model.Card.Amounts
                .Where(a => a.Location is Box)
                .Sum(a => a.NumCopies); }

            <div class="form-group">
                <label asp-for="Input!.RemoveCopies" class="control-label"></label>
                <input asp-for="Input!.RemoveCopies" class="form-control" min="1" max="@maxCopies" />
                <span asp-validation-for="Input!.RemoveCopies" class="text-danger"></span>

                <p> There are @maxCopies possible copies to remove </p>
            </div>

            <div class="btn-group" role="group">
                <a asp-page="Details" asp-route-id="@Model.Card.Id"
                    class="btn btn-secondary" role="button">
                    Cancel </a>
                <input type="submit" value="Remove" class="btn btn-danger" />
            </div>
        </form>
    </section>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}