@page "{id}"
@model Cards.DetailsModel
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = $"{Model.Card.Name} - Details";
}
@inject SymbolFormatter MtgSymbols


<div class="d-flex align-items-center"> 
    <h1> @Model.Card.Name </h1> 
    <div class="h5 ml-3 my-0">
        @MtgSymbols.Format(Model.Card.ManaCost).ToHtmlString()
    </div>
</div>

<div class="btn-group" role="group">
    <!-- js hack -->
    <a href="javascript:history.back()"
        class="btn btn-secondary"
        role="button">
        Back </a>

    @if (Model.CardAlts.Any())
    {
        <div class="btn-group" role="group">

            <button id="alt-btn" type="button" class="btn btn-secondary dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                Alternate Versions
            </button>

            <div class="dropdown-menu" aria-labelledby="alt-btn">
                @foreach (var card in Model.CardAlts)
                {
                    <a class="dropdown-item" asp-page="Details" asp-route-id="@card.Id" >
                        @card.Name (@card.SetName)
                    </a>
                }
            </div>
        </div>
    }

    @if (Model.IsSignedIn)
    {
        <a asp-page="./Delete" asp-route-id="@Model.Card.Id"
            class="btn btn-danger" role="alert">
            Delete </a>
    }
</div>

<partial name="_CardPartial" for="Card"/>