@page
@model MTGViewer.Pages.Cards.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Card</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Card.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Card.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Card.ManaCost)
        </dt>
        <dd class="col-sm-10">
        @foreach (var cost in Model.Card.GetColorSymbols()) {
            <i class="ms ms-@cost.ToLower() ms-cost"></i>
        }
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Card.Cmc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Card.Cmc)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Card.Rarity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Card.Rarity)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Card.SetName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Card.SetName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Card.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Card.Text)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Card.Flavor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Card.Flavor)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Card.Artist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Card.Artist)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Card.Power)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Card.Power)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Card.Toughness)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Card.Toughness)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Card.Loyalty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Card.Loyalty)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Card.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            <img alt="@Model.Card.Name" src="@Model.Card.ImageUrl"/>
        </dd>
    </dl>
</div>
<div>
    <!-- js hack -->
    <a href="javascript:history.go(-1)"
       class="btn btn-secondary mb-3">
       Back </a>

    <!--a asp-page="./Edit"
       asp-route-id="@Model.Card.Id"
       class="btn btn-secondary mb-3">
       Edit </a-->

    <a asp-page="./Delete"
       asp-route-id="@Model.Card.Id"
       class="btn btn-danger mb-3">
       Delete </a>
</div>
