@page
@model Cards.StatisticsModel
@{
    ViewData["Title"] = "Collection Statistics";
}
@inject SymbolFormatter MtgSymbols
@inject CardText CardText


<h1> Collection Statistics </h1>
<hr>

<div class="row">
    <section class="col-md col-12">
        <h3> By Rarity </h3>
        <div class="table-responsive-md pb-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"> @Html.DisplayNameForInnerType((Card c) => c.Rarity) </th>
                        <th scope="col"> Count </th>
                    </tr>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var rarity in Enum.GetValues<Rarity>())
                    {
                        @if (rarity is not Rarity.Special and not Rarity.Bonus)
                        {
                            <tr>
                                <td> @rarity </td>
                                <td> @Model.Statistics.Rarities.GetValueOrDefault(rarity) </td>
                            </tr>
                        }
                    }
                    @{
                        int uniqueRarities = Model.Statistics.Rarities
                            .Where(kv => kv.Key is Rarity.Special or Rarity.Bonus)
                            .Sum(kv => kv.Value);
                    }
                    @if (uniqueRarities > 0)
                    {
                        <tr>
                            <td> Miscellaneous </td>
                            <td> @uniqueRarities </td>
                        </tr>
                    }
                    <tr>
                        <th scope="col"> Total </th>
                        <td> <strong>@Model.Statistics.Copies</strong> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section class="col-md col-12">
        <h3> By Color </h3>
        <div class="table-responsive-md pb-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"> @Html.DisplayNameForInnerType((Card c) => c.Color) </th>
                        <th scope="col"> Symbol </th>
                        <th scope="col"> Count </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var color in Enum.GetValues<Color>())
                    {
                        <tr>
                            @if (color is Color.None)
                            {
                                <td> Colorless </td>
                                <td> @MtgSymbols.Format("{C}").ToHtmlString() </td>
                            }
                            else
                            {
                                <td> @color </td>
                                <td> @MtgSymbols.Format(CardText.ColorString(color)).ToHtmlString() </td>
                            }
                            <td> @Model.Statistics.Colors.GetValueOrDefault(color) </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
</div>


<div class="row">
    <section class="col-md col-12">
        <h3> By Type </h3>
        <div class="table-responsive-md pb-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"> @Html.DisplayNameForInnerType((Card c) => c.Type) </th>
                        <th scope="col"> Count </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var type in StatisticsModel.CardTypes)
                    {
                        <tr>
                            <td> @type </td>
                            <td> @Model.Statistics.Types.GetValueOrDefault(type) </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>

    <section class="col-md col-12">
        <h3> By Mana Value </h3>
        <div class="table-responsive-md pb-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"> @Html.DisplayNameForInnerType((Card c) => c.ManaValue) </th>
                        <th scope="col"> Count </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i <= 6; ++i)
                    {
                        <tr>
                            <td> @i </td>
                            <td> @Model.Statistics.ManaValues.GetValueOrDefault(i) </td>
                        </tr>
                    }
                    <tr>
                        <td> 7+ </td>
                        <td>
                            @(Model.Statistics.ManaValues
                                .Where(kv => kv.Key > 6)
                                .Sum(kv => kv.Value))
                        </td>
                    </tr>
                    <tr>
                        <td> <strong>@MathF.Round(Model.Statistics.ManaValueAvg, 2)</strong> </td>
                        <th scope="row"> Average </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>