@page "/"


<PageTitle> MTG Viewer </PageTitle>

<h1 class="text-center display-4">Welcome to the card database!</h1>

<section class="pt-4">
    @if (IsFirstLoad)
    {
        <div class="d-flex justify-content-center">
            <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    }
    else if (IsEmptyCollection)
    {
        <h3> Currently, there are no cards in the collection. </h3>
    }
    else
    {
        <h3>
            <a href="/Cards" title="Card Collection">
                Cards from our collection! </a>
        </h3>

        <div class="row row-cols-lg-4 row-cols-2 justify-content-around m-0">
            @foreach (var card in RandomCards)
            {
                bool isLoaded = IsImageLoaded(card);
                string show = isLoaded ? "img-fade" : "d-none";

                <a href="/Cards/Details/@card.Id" class="img-link"
                    title="@card.Name Details"
                    aria-label="@card.Id details">

                    <img alt="@card.Name Image" 
                        @onload="() => OnImageLoad(card)"
                        class="card-img scale @show" 
                        src="@card.ImageUrl.WithHttps()">

                    @if (!isLoaded)
                    {
                        <div class="placeholder"></div>
                    }
                </a>
            }
        </div>

        <div class="pt-3 d-flex justify-content-center">
            <button title="More Cards" type="button" class="btn btn-secondary"
                @onclick="LoadMoreCardsAsync" 
                disabled="@IsLoading" >
                @if (IsLoading)
                {
                    <text>
                        <span class="spinner-border spinner-border-sm"
                            role="status" aria-hidden="true"> </span>
                        Loading...
                    </text>
                }
                else
                {
                    <text> Load More </text>
                }
            </button>
        </div>
    }
</section>

@if (RecentChanges.Any())
{
    <section class="pt-4">
        <h3>
            <a href="/Transactions" title="Treasury History">
                Recent Shared Collection Changes </a>
        </h3>

        <ul class="list-group list-group-flush">
            @foreach (var transaction in RecentChanges)
            {
                var changes = transaction.Changes;
                var adds = changes.Where(c => c.ToStorage);
                var removes = changes.Where(c => c.FromStorage);

                <li class="list-group-item">
                    <div class="row justify-content-between">

                        <div class="col-md-10 col-9">
                            <div class="row align-items-center">
                                <div class="row-title ellipsis pr-2">
                                    @if (adds.Any())
                                    {
                                        <strong> Added </strong> @CardNames(adds)
                                    }
                                    else if (removes.Any())
                                    {
                                        <strong> Removed </strong> @CardNames(removes)
                                    }
                                    else
                                    {
                                        <text> No cards added </text>
                                    }
                                </div>
                                <span class="badge badge-secondary badge-pill">
                                    @transaction.Copies 
                                </span>
                            </div>
                        </div>

                        <div class="col d-flex align-items-center justify-content-end text-right">
                            <small class="text-muted"> @ElapsedTime(transaction) </small>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </section>
}
