@page
@model MTGViewer.Pages.Boxes.IndexModel
@using MTGViewer.Data

@{
    ViewData["Title"] = "Shared Boxes";
}

<h1>Shared Collection</h1>

<div class="mb-3">
    <a asp-page="Create" class="btn btn-secondary">Add Box</a>

    <form method="POST" class="d-inline">
        <input type="submit" value="Optimize" class="btn btn-secondary" />
    </form>

    <a asp-page="History" class="btn btn-secondary">History </a>
</div>

@if (!string.IsNullOrEmpty(Model.PostMessage))
{
    <div class="alert alert-secondary" role="alert">
        @Model.PostMessage
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th> Box </th>
            <th> @Html.DisplayNameForInnerType((CardAmount ca) => ca.Card) </th>
            <th> @Html.DisplayNameForInnerType((Card c) => c.ManaCost) </th>
            <th> @Html.DisplayNameForInnerType((Card c) => c.SetName) </th>
            <th> @Html.DisplayNameForInnerType((Card c) => c.Rarity) </th>
            <th> Current Amount </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var box in Model.Boxes)
        {
            var firstAmount = box.Cards.FirstOrDefault();
            var boxSpan = Math.Max(1, box.Cards.Count);

            <tr>
                <td rowspan="@boxSpan" class="fw-bold"> @box.Name (@box.Bin.Name) </td>

                @if (firstAmount != null)
                {
                    <td>
                        <a asp-page="/Cards/Details"
                            asp-route-id="@firstAmount.CardId"
                            class="fw-bold">
                            @firstAmount.Card.Name </a>
                    </td>
                    <td>
                        @foreach (var cost in firstAmount.Card.GetManaSymbols())
                        {
                            <span class="m-1 ms ms-@cost ms-cost"></span>
                        }
                    </td>
                    <td> @firstAmount.Card.SetName </td>
                    <td> @firstAmount.Card.Rarity </td>
                    <td> @firstAmount.Amount </td>
                }
                else
                {
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                }
            </tr>

            @foreach (var amount in box.Cards.Skip(1))
            {
                <tr>
                    <td>
                        <a asp-page="/Cards/Details"
                            asp-route-id="@amount.CardId"
                            class="fw-bold">
                            @amount.Card.Name </a>
                    </td>
                    <td>
                        @foreach (var cost in amount.Card.GetManaSymbols())
                        {
                            <span class="m-1 ms ms-@cost ms-cost"></span>
                        }
                    </td>
                    <td> @amount.Card.SetName </td>
                    <td> @amount.Card.Rarity </td>
                    <td> @amount.Amount </td>
                </tr>
            }
        }
    </tbody>
</table