@page
@model MTGViewer.Pages.Trades.IndexModel

@using Microsoft.AspNetCore.Identity
@using MTGViewer.Areas.Identity.Data
@using MTGViewer.Data

@inject UserManager<CardUser> UserManager

@{
    var userName = UserManager.GetUserName(User);
    ViewData["Title"] = $"{userName}'s Trades";
}

@if (!string.IsNullOrEmpty(Model.PostMessage))
{
    <div class="alert alert-secondary" role="alert">
        @Model.PostMessage
    </div>
}

<h2>Pending Trades</h2>

<table class="table">
    <thead>
        <tr>
            <th> @Html.DisplayNameForInnerType((Location l) => l.Name) </th>
            <th> @Html.DisplayNameForInnerType((Location l) => l.Owner) </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var deck in Model.DeckTrades)
        {
            <tr>
                <td>@deck.Name</td>
                <td>@deck.Owner.Name</td>

                <td>
                    <a asp-page="./Propose" asp-route-deckid="@deck.Id">
                        View
                    </a>
                </td>
            </tr>
        }
    </tbody>

</table>


<h2>Suggestions</h2>

<form method="POST">
    <table class="table">
        <thead>
            <tr>
                <th> @Html.DisplayNameForInnerType((Trade t) => t.Card) </th>
                <th> Suggestion From </th>
                <th> @Html.DisplayNameForInnerType((Trade t) => t.To) </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var suggestion in Model.Suggestions)
            {
                <tr>
                    <td>
                        <a asp-page="/Cards/Details" asp-route-id="@suggestion.CardId">
                            @suggestion.Card.Name
                        </a>
                    </td>
                    <td>@suggestion.Proposer.Name</td>
                    <td>@suggestion.To.Name</td>
                    <td>
                        <input type="submit"
                            asp-page-handler="Ack"
                            asp-route-suggestid="@suggestion.Id"
                            class="btn btn-secondary mb-3"
                            value="Acknowledge" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>