@using System.Linq
@using MTGViewer.Data
@using Microsoft.AspNetCore.WebUtilities

@namespace MTGViewer.Components

@inject IDbContextFactory<CardDbContext> DbFactory


<h1>Card Collection</h1>

<a class="btn btn-secondary" href="Cards/Create">Add Card</a>

@* <div class="input-group my-3">
    <span class="input-group-text">Name:</span> *@
<input class="formcontrol" placeholder="Name" @onchange="SearchName" />
@* </div> *@

<div class="btn-group" role="group" aria-label="Color Buttons">
    @foreach (var color in Data.Color.COLORS)
    {
        var active = _colorFilter.Contains(color.Key) ? "active" : "";

        <button title="@color.Key Filter"
                type="button"
                class="btn btn-outline-secondary border-0 rounded @active"
                @onclick="() => FilterColor(color.Key)">
            <span class="ms ms-@color.Value ms-cost"> </span>
        </button>
    }
</div>

<button class="btn btn-secondary" @onclick="FetchCardsAsync">Refresh</button>

<table class="table">
    <thead>
        <tr>
            <th>Card Name</th>
            <th>Mana Cost</th>
            <th>Set</th>
            <th>Rarity</th>
            <th>Total Amount</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var card in _viewCards)
        {
            <tr>
                <td class="fw-bold">@card.Name</td>

                <td>
                    @foreach (var cost in card.GetColorSymbols())
                    {
                        <span class="m-1 ms ms-@cost.ToLower() ms-cost"></span>
                    }
                </td>

                <td>@card.SetName</td>
                <td>@card.Rarity</td>
                <td>@card.Amounts.Select(ca => ca.Amount).Sum()</td>

                <td>
                    <a href="@Details(card.Id)">Details</a>
                    @if (IsSignedIn)
                    {
                        <text>
                            | @*<a href="@Edit(card.Id)">Edit</a> |*@
                            <a href="@Delete(card.Id)">Delete</a> |
                            <a href="@Suggest(card.Id)">Suggest</a>
                        </text>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


@code {

    [Parameter]
    public bool IsSignedIn { get; set; } = false;

    private bool _busy;
    private IEnumerable<Card> _dbCards;
    private IEnumerable<Card> _viewCards;

    private string _searchName;
    private readonly ISet<string> _colorFilter = new HashSet<string>();


    protected override async Task OnInitializedAsync()
    {
        if (_busy)
        {
            return;    
        }

        await FetchCardsAsync();
    }

    private async Task FetchCardsAsync()
    {
        _busy = true;
        
        using var context = DbFactory.CreateDbContext();

        _dbCards = await context.Cards
            .Include(c => c.Colors)
            .Include(c => c.Amounts.Where(ca => !ca.IsRequest))
            // .ThenInclude(a => a.Location)
            .OrderBy(c => c.Name)
            .AsSplitQuery()
            .AsNoTracking()
            .ToListAsync();

        _viewCards = _dbCards;

        _busy = false;
    }


    private void ApplyFilters()
    {
        var query = _dbCards;

        if (!string.IsNullOrWhiteSpace(_searchName))
        {
            query = query
                .Where(c => c.Name.ToLower().Contains(_searchName));
        }

        if (_colorFilter.Any())
        {
            query = query
                .Where(card => {
                    var colors = card.Colors.Select(color => color.Name.ToLower());
                    return _colorFilter.Overlaps(colors);
                });
        }

        _viewCards = query.ToList();
    }

    private void FilterColor(string color)
    {
        if (_colorFilter.Contains(color))
        {
            _colorFilter.Remove(color);
        }
        else
        {
            _colorFilter.Add(color);
        }

        ApplyFilters();
    }

    private void SearchName(ChangeEventArgs eventArgs)
    {
        _searchName = eventArgs.Value?.ToString();
        ApplyFilters();
    }


    private string Edit(string id) => CardRoute("Edit", id);
    private string Details(string id) => CardRoute("Details", id);
    private string Delete(string id) => CardRoute("Delete", id);

    private string Suggest(string id) =>
        QueryHelpers.AddQueryString("Trades/Suggest", "cardid", id);


    private string CardRoute(string operation, string id) =>
        QueryHelpers.AddQueryString($"Cards/{operation}", "id", id);

}