@model Box
@inject SymbolFormatter MtgSymbols

@{
    if (!ViewData.TryGetValue(nameof(Box.Cards), out var cards)
        || cards is not int numberOfCards)
    {
        numberOfCards = 0;
    }

    if (!ViewData.TryGetValue("HasMore", out var more)
        || more is not bool hasMore)
    {
        hasMore = false;
    }

    string? returnUrl = null;

    if (ViewData.TryGetValue("ReturnUrl", out var url))
    {
        returnUrl = url as string;
    }
}

@if (Model is not null)
{
    <div class="table-responsive-md">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"> @Html.DisplayNameForInnerType((Amount a) => a.Card) </th>
                    <th scope="col"> @Html.DisplayNameForInnerType((Card c) => c.ManaCost) </th>
                    <th scope="col"> @Html.DisplayNameForInnerType((Card c) => c.SetName) </th>
                    <th scope="col"> @Html.DisplayNameForInnerType((Amount a) => a.NumCopies) </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var amount in Model.Cards)
                {
                    <tr>
                        <td>
                            <component type="typeof(HoverCard)" render-mode="Static"
                                param-Target="amount.Card" param-ReturnUrl="returnUrl" />
                        </td>
                        <td> 
                            <div class="ms-group">
                                @MtgSymbols.Format(amount.Card.ManaCost).ToHtmlString() 
                            </div>
                        </td>
                        <td> @amount.Card.SetName </td>
                        <td> @amount.Card.Amounts.Sum(c => c.NumCopies) </td>
                    </tr>
                }
                @if (hasMore)
                {
                    <tr>
                        <td> ... </td>
                        <td> ... </td>
                        <td> ... </td>
                        <td> ... </td>
                    </tr>
                }
                <tr>
                    <th> Total </th>
                    <td> -- </td>
                    <td> -- </td>
                    <td class="font-weight-bold">
                        @numberOfCards / @Model.Capacity
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    @if (!string.IsNullOrWhiteSpace(Model.Appearance))
    {
        <h4> @Html.DisplayNameFor(b => b.Appearance) </h4>
        <p> @Html.DisplayFor(b => b.Appearance) </p>
    }
}