@model Offset
@inject PageSizes PageSizes

@if (Model.HasMultiple)
{
    (int start, int end) = GetBounds();

    <nav>
        <ul class="pagination justify-content-center">
            @if (start > 0)
            {
                <li class="page-item">
                    <a asp-route-offset="0" class="page-link"> 1 </a>
                </li>
                <li class="page-item disabled">
                    <span class="page-link"> ... </span>
                </li>
            }

            @for (int i = start; i < end; ++i)
            {
                int pageIndex = i;

                @if (pageIndex == Model.Current)
                {
                    <li class="page-item active">
                        <span class="page-link">
                            @(pageIndex + 1)
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a asp-route-offset="@pageIndex"
                            class="page-link">
                            @(pageIndex + 1) </a>
                    </li>
                }
            }

            @if (end < Model.Total - 1)
            {
                <li class="page-item disabled">
                    <span class="page-link"> ... </span>
                </li>
            }

            @if (end < Model.Total)
            {
                <li class="page-item">
                    <a asp-route-offset="@(Model.Total - 1)" class="page-link"> @Model.Total </a>
                </li>
            }
        </ul>
    </nav>
}


@functions
{
    public (int, int) GetBounds()
    {
        int pageSize = PageSizes.Default;

        if (pageSize == 0)
        {
            return (0, 0);
        }

        int start = Model.Current / pageSize * pageSize;
        int end = Math.Min(Model.Total, start + pageSize + 1);

        if (start > 0)
        {
            start -= 1;
        }

        return (start, end);
    }
}