@inject PageSizes PageSizes

@if (Offset.HasMultiple)
{
    (int start, int end) = GetBounds();

    <nav>
        <ul class="pagination justify-content-center">

            @if (start > 0)
            {
                <li class="page-item">
                    <button title="To First Page"
                        @onclick="() => ChangePageAsync(0)" 
                        class="page-link"> 
                        1 </button>
                </li>
                <li class="page-item disabled">
                    <span class="page-link"> ... </span>
                </li>
            }

            @for (int i = start; i < end; ++i)
            {
                int offset = i;
                string activePage = offset == Offset.Current ? "active" : "";

                <li class="page-item @activePage">
                    @if (offset != Offset.Current)
                    {
                        <button title="To Page @(offset + 1)"
                            @onclick="() => ChangePageAsync(offset)"
                            class="page-link">
                            @(offset + 1) </button>
                    }
                    else
                    {
                        <span class="page-link">
                            @(offset + 1)
                            <span class="sr-only">(current)</span>
                        </span>
                    }
                </li>
            }

            @if (end < Offset.Total - 1)
            {
                <li class="page-item disabled">
                    <span class="page-link"> ... </span>
                </li>
            }

            @if (end < Offset.Total)
            {
                <li class="page-item">
                    <button title="To Last Page"
                        @onclick="() => ChangePageAsync(Offset.Total - 1)" 
                        class="page-link"> 
                        @Offset.Total </button>
                </li>
            }

        </ul>
    </nav>
}

@code
{
    [Parameter]
    public Offset Offset { get; set; }

    [Parameter]
    public EventCallback<int> PageSelected { get; set; }

    [Parameter]
    public int PageSize { get; set; }


    private bool _isBusy;
    private int _pageSize;


    protected override void OnParametersSet()
    {
        _pageSize = PageSize > 0 ? PageSize : PageSizes.Default;
    }


    public (int, int) GetBounds()
    {
        if (_pageSize == default)
        {
            return default;
        }

        int start = Offset.Current / _pageSize * _pageSize;
        int end = Math.Min(Offset.Total, start + _pageSize + 1);

        if (start > 0)
        {
            start -= 1;
        }

        return (start, end);
    }


    public async Task ChangePageAsync(int page)
    {
        if (_isBusy)
        {
            return;
        }

        _isBusy = true;

        try
        {
            await PageSelected.InvokeAsync(page);
        }
        finally
        {
            _isBusy = false;
        }
    }
}