@page
@model MTGViewer.Pages.Transfers.IndexModel

@using MTGViewer.Data

@{
    ViewData["Title"] = $"{Model.SelfUser.Name}'s Trades";
}


@if (!string.IsNullOrEmpty(Model.PostMessage))
{
    <div class="alert alert-secondary" role="alert">
        @Model.PostMessage
    </div>
}


<h2>Received Trades</h2>

<table class="table mb-3">
    <thead>
        <tr>
            <th>Target Deck</th>
            <th>Colors</th>
            <th>Number of Requests</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var deck in Model.ReceivedTrades)
        {
            <tr>
                <td>
                    <a asp-page="Review" 
                       asp-route-deckid="@deck.Id">
                       @deck.Name </a>
                </td>
                <td>
                    @foreach (var color in deck.GetColorSymbols())
                    {
                        <span class="m-1 ms ms-@color ms-cost"></span>
                    }
                </td>
                <td>@deck.TradesFrom.Count</td>
            </tr>
        }
    </tbody>
</table>


<h2>@Model.SelfUser.Name's Requests</h2>

<table class="table mb-3">
    <thead>
        <tr>
            <th>Deck</th>
            <th>Colors</th>
            <th>Number of Requests</th>
            <th>Trade State</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var deck in Model.RequestDecks)
        {
            <tr>
                <td>
                    <a asp-page="/Decks/Viewer"
                        asp-route-id="@deck.Id"
                        class="fw-bold">
                        @deck.Name </a>
                </td>
                <td>
                    @foreach (var color in deck.GetColorSymbols())
                    {
                        <span class="m-1 ms ms-@color ms-cost"></span>
                    }
                </td>

                @if (deck.TradesTo.Any())
                {
                    <td>@deck.TradesTo.Count</td>
                    <td>
                        <a asp-page="Status" 
                            asp-route-deckid="@deck.Id"
                            class="fw-bold">
                            Sent </a>
                    </td>
                }
                else
                {
                    <td> @deck.Requests.Count(cr => !cr.IsReturn) </td>
                    <td>
                        <a asp-page="Request" 
                            asp-route-deckid="@deck.Id"
                            class="fw-bold">
                            Possible </a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>


<h2>Suggestions</h2>

<table class="table mb-3">
    <thead>
        <tr>
            <th> @Html.DisplayNameForInnerType((Suggestion t) => t.Card) </th>
            <th> @Html.DisplayNameForInnerType((Suggestion t) => t.To) </th>
            <th> @Html.DisplayNameForInnerType((Suggestion t) => t.Comment) </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var suggestion in Model.Suggestions)
        {
            <tr>
                <td>
                    <a asp-page="/Cards/Details"
                        asp-route-id="@suggestion.CardId"
                        class="fw-bold">
                        @suggestion.Card.Name </a>
                </td>
                <td>@(suggestion.To?.Name ?? "")</td>
                <td>@suggestion.Comment</td>
                <td>
                    <form method="POST">
                        <input type="submit"
                            asp-route-suggestid="@suggestion.Id"
                            class="btn btn-secondary"
                            value="Acknowledge" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>