@page
@model Transfers.IndexModel
@{
    ViewData["Title"] = $"{Model.UserName} - Trades";
}

@inject SymbolFormatter MtgSymbols
@inject CardText CardText
@inject IAuthorizationService AuthorizationService

@{
    bool canChangeTreasury = (await AuthorizationService
        .AuthorizeAsync(User, CardPolicies.ChangeTreasury)).Succeeded;
}

<div class="row">
    <div class="col">
        <h1>@Model.UserName's Trades</h1>

        <div class="table-responsive-md">
            <table class="table mb-3">
                <thead>
                    <tr>
                        <th scope="col">Deck</th>
                        <th scope="col">@Html.DisplayNameForInnerType((Deck d) => d.Color)</th>
                        <th scope="col">Cards To Me </th>
                        <th scope="col">Received From Others </th>
                    </tr>
                </thead>
                <tbody>
                    @if (!Model.TradeDecks.Any())
                    {
                        <tr>
                            <td> -- </td>
                            <td> -- </td>
                            <td> -- </td>
                            <td> -- </td>
                        </tr>
                    }
                    @foreach (var deck in Model.TradeDecks)
                    {
                        <tr>
                            <td>
                                <a asp-page="/Decks/Details" asp-route-id="@deck.Id">
                                    @deck.Name </a>
                            </td>

                            <td>
                                <div class="ms-group">
                                    @MtgSymbols.Format(CardText.ColorString(deck.Color)).ToHtmlString()
                                </div>
                            </td>

                            <td>
                                @if (deck.SentTrades && canChangeTreasury)
                                {
                                    <a asp-page="Details" asp-route-id="@deck.Id"
                                        title="@deck.Name Trade Status">
                                        Sent </a>
                                }
                                else if (deck.WantsCards && canChangeTreasury)
                                {
                                    <a asp-page="Create" asp-route-id="@deck.Id"
                                        title="@deck.Name Card Requests">
                                        Possible </a>
                                }
                                else if (deck.SentTrades && !canChangeTreasury)
                                {
                                    <text> Sent </text>
                                }
                                else if (deck.WantsCards && !canChangeTreasury)
                                {
                                    <text> Possible </text>
                                }
                                else
                                {
                                    <text> None </text>
                                }
                            </td>

                            <td>
                                @if (deck.ReceivedTrades && canChangeTreasury)
                                {
                                    <a asp-page="Review" asp-route-id="@deck.Id"
                                        title="@deck.Name Trade Review">
                                        Received </a>
                                }
                                else if (deck.ReceivedTrades && !canChangeTreasury)
                                {
                                    <text> Received </text>
                                }
                                else
                                {
                                    <text> None </text>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <partial name="_SeekPagingPartial" model="(Seek)Model.TradeDecks.Seek" />
    </div>
</div>

@if (Model.Suggestions.Any())
{
    <div class="row">
        <div class="col">
            <h2>Most Recent Suggestions</h2>

            <div class="table-responsive-md">
                <table class="table mb-3">
                    <thead>
                        <tr>
                            <th scope="col"> @Html.DisplayNameForInnerType((Suggestion s) => s.Card) </th>
                            <th scope="col"> @Html.DisplayNameForInnerType((Card c) => c.ManaCost) </th>
                            <th scope="col"> @Html.DisplayNameForInnerType((Suggestion s) => s.To) </th>
                            <th scope="col"> @Html.DisplayNameForInnerType((Suggestion s) => s.Comment) </th>

                            @if (canChangeTreasury)
                            {
                                <th scope="col"></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var suggestion in Model.Suggestions)
                        {
                            <tr>
                                <td>
                                    <a asp-page="/Cards/Details" asp-route-id="@suggestion.Card.Id">
                                        @suggestion.Card.Name </a>
                                </td>

                                <td>
                                    <div class="ms-group">
                                        @MtgSymbols.Format(suggestion.Card.ManaCost).ToHtmlString()
                                    </div>
                                </td>

                                <td>@(suggestion.ToName ?? "--")</td>
                                <td>@(suggestion.Comment ?? "--")</td>

                                <td>
                                    @if (canChangeTreasury)
                                    {
                                        <form method="POST">
                                            <input type="hidden" name="id" value="@suggestion.Id"/>

                                            <button class="btn btn-danger" type="submit">
                                                &times; </button>
                                        </form>
                                    }
                                    else
                                    {
                                        <button class="btn btn-danger" type="button" disabled>
                                            &times; </button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
       </div>
    </div>
}
