@page
@model MTGViewer.Pages.Transfers.IndexModel

@using MTGViewer.Data

@{
    ViewData["Title"] = $"{Model.SelfUser.Name}'s Trades";
}


@if (!string.IsNullOrEmpty(Model.PostMessage))
{
    <div class="alert alert-secondary" role="alert">
        @Model.PostMessage
    </div>
}


<h2>Received Trades</h2>

<table class="table">
    <thead>
        <tr>
            <th>Target Deck</th>
            <th>Number of Requests</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var deck in Model.ReceivedTrades)
        {
            <tr>
                <td>@deck.Name</td>
                <td>@deck.TradesFrom.Count</td>
                <td>
                    <a asp-page="./Review" 
                       asp-route-deckid="@deck.Id"
                       class="btn btn-secondary mb-3">
                       View </a>
                </td>
            </tr>
        }
    </tbody>
</table>


<h2>Pending Trades</h2>

<table class="table">
    <thead>
        <tr>
            <th>Target Deck</th>
            <th>Number of Requests</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var deck in Model.SentTrades)
        {
            <tr>
                <td>@deck.Name</td>
                <td>@deck.TradesTo.Count</td>
                <td>
                    <a asp-page="./Status" 
                        asp-route-deckid="@deck.Id"
                        class="btn btn-secondary mb-3" >
                        Status </a>
                </td>
            </tr>
        }
    </tbody>
</table>


<h2>Possible Requests</h2>

<table class="table">
    <thead>
        <tr>
            <th> Deck Name </th>
            <th> Number of Requests </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var deck in Model.PossibleTrades)
        {
            <tr>
                <td> @deck.Name </td>
                <td> @deck.Requests.Count(cr => !cr.IsReturn) </td>
                <td>
                    <a asp-page="./Request" 
                       asp-route-deckid="@deck.Id"
                       class="btn btn-secondary mb-3">
                       Request </a>
                </td>
            </tr>
        }
    </tbody>
</table>


<h2>Suggestions</h2>

<table class="table">
    <thead>
        <tr>
            <th> @Html.DisplayNameForInnerType((Suggestion t) => t.Card) </th>
            <th> @Html.DisplayNameForInnerType((Suggestion t) => t.To) </th>
            <th> @Html.DisplayNameForInnerType((Suggestion t) => t.Comment) </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var suggestion in Model.Suggestions)
        {
            <tr>
                <td>
                    <a asp-page="/Cards/Details"
                        asp-route-id="@suggestion.CardId">
                        @suggestion.Card.Name </a>
                </td>
                <td>@(suggestion.To?.Name ?? "")</td>
                <td>@suggestion.Comment</td>
                <td>
                    <form method="POST">
                        <input type="submit"
                            asp-route-suggestid="@suggestion.Id"
                            class="btn btn-secondary mb-3"
                            value="Acknowledge" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>