@page
@model Transfers.IndexModel
@{
    ViewData["Title"] = $"{Model.UserName} - Trades";
}

@using Microsoft.AspNetCore.Authorization
@using MTGViewer.Areas.Identity.Data

@inject SymbolFormatter MtgSymbols
@inject CardText CardText
@inject IAuthorizationService AuthorizationService

@{
    bool canChangeTreasury = (await AuthorizationService
        .AuthorizeAsync(User, CardPolicies.ChangeTreasury)).Succeeded;
}

<div class="row">
    <div class="col">
        <h2>@Model.UserName's Trades</h2>

        <div class="table-responsive-md">
            <table class="table mb-3">
                <thead>
                    <tr>
                        <th scope="col">Deck</th>
                        <th scope="col">@Html.DisplayNameForInnerType((Deck d) => d.Color)</th>
                        <th scope="col">Cards From Players</th>
                        <th scope="col">Received Requests</th>
                    </tr>
                </thead>
                <tbody>
                    @if (!Model.TradeDecks.Any())
                    {
                        <tr>
                            <td> -- </td>
                            <td> -- </td>
                            <td> -- </td>
                            <td> -- </td>
                        </tr>
                    }
                    @foreach (var deck in Model.TradeDecks)
                    {
                        <tr>
                            <td>
                                <a asp-page="/Decks/Details" asp-route-id="@deck.Id">
                                    @deck.Name </a>
                            </td>

                            <td> 
                                <div class="ms-group">
                                    @MtgSymbols.Format(CardText.ColorString(deck.Color)).ToHtmlString()
                                </div>
                            </td>

                            <td>
                                @if (deck.SentTrades && canChangeTreasury)
                                {
                                    <a asp-page="Status" asp-route-id="@deck.Id"
                                        title="@deck.Name Trade Status">
                                        Sent </a>
                                }
                                else if (deck.WantsCards && canChangeTreasury)
                                {
                                    <a asp-page="Request" asp-route-id="@deck.Id"
                                        title="@deck.Name Card Requests">
                                        Possible </a>
                                }
                                else if (deck.SentTrades && !canChangeTreasury)
                                {
                                    <text> Sent </text>
                                }
                                else if (deck.WantsCards && !canChangeTreasury)
                                {
                                    <text> Possible </text>
                                }
                                else
                                {
                                    <text> None </text>
                                }
                            </td>

                            <td>
                                @if (deck.ReceivedTrades && canChangeTreasury)
                                {
                                    <a asp-page="Review" asp-route-id="@deck.Id"
                                        title="@deck.Name Trade Review">
                                        Received </a>
                                }
                                else if (deck.ReceivedTrades && !canChangeTreasury)
                                {
                                    <text> Received </text>
                                }
                                else
                                {
                                    <text> None </text>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <partial name="_SeekPagingPartial" model="(Seek)Model.TradeDecks.Seek" />
    </div>
</div>


@if (Model.Suggestions.Any())
{
    <div class="row">
        <div class="col">
            <h2>Most Recent Suggestions</h2>

            <div class="table-responsive-md">
                <table class="table mb-3">
                    <thead>
                        <tr>
                            <th scope="col"> @Html.DisplayNameForInnerType((Suggestion t) => t.Card) </th>
                            <th scope="col"> @Html.DisplayNameForInnerType((Card c) => c.ManaCost) </th>
                            <th scope="col"> @Html.DisplayNameForInnerType((Suggestion t) => t.To) </th>
                            <th scope="col"> @Html.DisplayNameForInnerType((Suggestion t) => t.Comment) </th>

                            @if (canChangeTreasury)
                            {
                                <th scope="col"></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var suggestion in Model.Suggestions)
                        {
                            <tr>
                                <td>
                                    <a asp-page="/Cards/Details" asp-route-id="@suggestion.CardId">
                                        @suggestion.CardName </a>
                                </td>
                                <td>
                                    <div class="ms-group">
                                        @MtgSymbols.Format(suggestion.CardManaCost).ToMarkupString()
                                    </div>
                                </td>

                                <td>@suggestion.ToName</td>
                                <td>@suggestion.Comment</td>

                                @if (canChangeTreasury)
                                {
                                    <td>
                                        <form method="POST">
                                            <input type="submit"
                                                asp-route-id="@suggestion.Id"
                                                class="btn btn-secondary"
                                                value="Acknowledge" />
                                        </form>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
       </div>
    </div>
}