@page
@model MTGViewer.Pages.Transfers.ProposeModel

@{
    ViewData["Title"] = "Propose Trade";
}


@if (Model.ProposeOptions is not null)
{
    <h1>Select Deck to Trade With</h1>
    <form method="get">
        @foreach (var deckOption in Model.ProposeOptions)
        {
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="radio" name="deckId" value="@deckOption.Id" />
                        <input type="hidden" name="proposerId" value="@Model.Proposer.Id"/>
                    </div>
                </div>
                <span class="form-control">@deckOption.Name</span>
                <span class="form-control">@deckOption.Owner.Name</span>
            </div>
        }

        <input type="submit"
            class="btn btn-secondary mb-3"
            value="Select"/>
    </form>
}
else
{
    @(await Html.RenderComponentAsync<Trader>(
        RenderMode.ServerPrerendered,
        new {
            DeckId = Model.DeckId,
            Proposer = Model.Proposer
        }))
}
