@page "{id:int}"
@model Transfers.RequestModel
@{
    ViewData["Title"] = $"{Model.Deck.Name} - Requests";
}
@inject SymbolFormatter MtgSymbols


<h1>Requests for @Model.Deck.Name</h1>
<hr />

@if (Model.Requests.Any())
{
    <div class="alert alert-secondary" role="alert">
        <h5 class="alert-heading"> Send Request Confirmation </h5>
        <p>
            Are you sure you want to send requests listed below?  While a 
            request is active, <strong>you cannot edit @Model.Deck.Name</strong>
        </p>

        <form method="POST">
            <input type="submit" class="btn btn-secondary"
                value="Confirm"/>
        </form>
    </div>
}
else
{
    <div class="alert alert-warning" role="alert">
        <h5 class="alert-heading">Missing Trade Targets</h5>
        <p> There are no possible decks to requests to. </p>

        <a asp-page="/Decks/Details" asp-route-id="@Model.Deck.Id"
            class="btn btn-secondary" role="button">
            Details </a>
    </div>
}


<div class="table-responsive-md">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"> Matched @Html.DisplayNameForInnerType((Want w) => w.Card) </th>
                <th scope="col"> @Html.DisplayNameForInnerType((Card c) => c.ManaCost) </th>
                <th scope="col"> @Html.DisplayNameForInnerType((Card c) => c.SetName) </th>
                <th scope="col"> Request Amount </th>
            </tr>
        </thead>
        <tbody>
            @if (!Model.Requests.Any())
            {
                <tr>
                    <td> -- </td>
                    <td> -- </td>
                    <td> -- </td>
                    <td> -- </td>
                </tr>
            }
            @foreach (var card in Model.Requests)
            {
                <tr>
                    <td>
                        <component type="typeof(HoverCard)" render-mode="Static"
                            param-Preview="card" />
                    </td>
                    <td> 
                        <div class="ms-group">
                            @MtgSymbols.Format(card.ManaCost).ToHtmlString()
                        </div>
                    </td>
                    <td> @card.SetName </td>
                    <td> @card.Copies </td>
                </tr>
            } 
        </tbody>
    </table>
</div>

<partial name="_OffsetPagingPartial" for="Requests.Offset"/>

