@page "{deckId:int}"
@model Transfers.RequestModel
@{
    ViewData["Title"] = $"{Model.Deck.Name} Requests";
}
@inject Services.IMTGSymbols MtgSymbols


<h1>Requests for @Model.Deck.Name</h1>
<hr />

@if (Model.TargetsExist)
{
    <div class="alert alert-secondary" role="alert">
        <h5>Are you sure you want to send requests for the cards listed below?</h5>
        <p>While a request is active, <strong>you cannot edit @Model.Deck.Name</strong></p>

        <form method="POST">
            <input type="hidden" asp-for="Deck.Id"/>

            <input type="submit" 
                class="btn btn-secondary"
                value="Confirm"/>
        </form>
    </div>
}
else
{
    <div class="alert alert-warning" role="alert">
        There are no possible decks to requests to
    </div>
}


<h2>Cards to Request</h2>

<table class="table">
    <thead>
        <tr>
            <th> @Html.DisplayNameForInnerType((CardAmount ca) => ca.Card) </th>
            <th> @Html.DisplayNameForInnerType((Card c) => c.ManaCost) </th>
            <th> @Html.DisplayNameForInnerType((CardAmount ca) => ca.Amount) </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cardGroup in Model.Requests)
        {
            var card = cardGroup.Cards.First();
            <tr>
                <td>
                    <a asp-page="/Cards/Details"
                        asp-route-id="@card.Id">
                        @card.Name </a>
                </td>

                <td> @MtgSymbols.InjectIcons(card.ManaCost).ToHtmlString() </td>
                <td> @cardGroup.Amount </td>
            </tr>
        } 
    </tbody>
</table>


@if (Model.Deck.Cards.Any())
{
    <h2>Current Cards</h2>

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameForInnerType((Card c) => c.Name)</th>
                <th>@Html.DisplayNameForInnerType((Card c) => c.ManaCost)</th>
                <th>@Html.DisplayNameForInnerType((Card c) => c.SetName)</th>
                <th>@Html.DisplayNameForInnerType((CardAmount ca) => ca.Amount)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var amount in Model.Deck.Cards)
            {
                var card = amount.Card;
                <tr>
                    <td>
                        <a asp-page="/Cards/Details"
                            asp-route-id="@card.Id"
                            class="fw-bold">
                            @card.Name </a>
                    </td>

                    <td> @MtgSymbols.InjectIcons(card.ManaCost).ToHtmlString() </td>
                    <td> @card.SetName </td>
                    <td> @amount.Amount </td>
                </tr>
            }
        </tbody>
    </table>
}