@page "{deckId:int}"
@model MTGViewer.Pages.Transfers.RequestModel
@using MTGViewer.Data

@{
    ViewData["Title"] = $"{Model.Deck.Name} Requests";
}


<h1>Requests for @Model.Deck.Name</h1>
<hr />

@if (Model.TargetsExist)
{
    <div class="alert alert-secondary" role="alert">
        <p>Are you sure you send requests for the listed cards below?</p>
        <p>While a request is active, you cannot edit the deck @Model.Deck.Name</p>

        <form method="POST">
            <input type="hidden" asp-for="Deck.Id"/>

            <input type="submit" 
                class="btn btn-secondary"
                value="Confirm"/>
        </form>
    </div>
}
else
{
    <div class="alert alert-warning" role="alert">
        There are no possible decks to requests to
    </div>
}


<h2>Cards to Request</h2>

<table class="table">
    <thead>
        <tr>
            <th> @Html.DisplayNameForInnerType((CardAmount ca) => ca.Card) </th>
            <th> @Html.DisplayNameForInnerType((Card c) => c.ManaCost) </th>
            <th> @Html.DisplayNameForInnerType((CardAmount ca) => ca.Amount) </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cardGroup in Model.Requests)
        {
            var card = cardGroup.Cards.First();
            <tr>
                <td>
                    <a asp-page="/Cards/Details"
                        asp-route-id="@card.Id">
                        @card.Name </a>
                </td>
                <td>
                    @foreach (var cost in card.GetManaSymbols())
                    {
                        <span class="m-1 ms ms-@cost ms-cost"></span>
                    }
                </td>
                <td> @cardGroup.Amount </td>
            </tr>
        } 
    </tbody>
</table>


@if (Model.Deck.Cards.Any())
{
    <h2>Current Cards</h2>

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameForInnerType((Card c) => c.Name)</th>
                <th>@Html.DisplayNameForInnerType((Card c) => c.ManaCost)</th>
                <th>@Html.DisplayNameForInnerType((Card c) => c.SetName)</th>
                <th>@Html.DisplayNameForInnerType((CardAmount ca) => ca.Amount)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var amount in Model.Deck.Cards)
            {
                var card = amount.Card;
                <tr>
                    <td>
                        <a asp-page="/Cards/Details"
                            asp-route-id="@card.Id"
                            class="fw-bold">
                            @card.Name </a>
                    </td>
                    <td>
                        @foreach (var cost in card.GetManaSymbols())
                        {
                            <span class="m-1 ms ms-@cost ms-cost"></span>
                        }
                    </td>

                    <td>@card.SetName</td>
                    <td>@amount.Amount</td>
                </tr>
            }
        </tbody>
    </table>
}