@page
@model MTGViewer.Pages.Transfers.ReviewModel

@using MTGViewer.Data

@{
    ViewData["Title"] = $"{Model.Receiver.Name}'s Trades";
}


<h1>Requests From @Model.Source.Name</h1>
<hr />

@* <a asp-page="./Propose"
    asp-route-proposerid="@Model.Proposer.Id"
    asp-route-deckid="@Model.Deck.Id"
    class="btn btn-secondary mb-3">
    Edit
</a> *@

@if (!string.IsNullOrEmpty(Model.PostMessage))
{
    <div class="alert alert-secondary" role="alert">
        @Model.PostMessage
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th> @Html.DisplayNameForInnerType((Exchange t) => t.Card) </th>
            <th> @Html.DisplayNameForInnerType((Card c) => c.ManaCost) </th>
            <th> @Html.DisplayNameForInnerType((Card c) => c.SetName) </th>
            <th> @Html.DisplayNameForInnerType((Exchange t) => t.To) </th>
            <th> @Html.DisplayNameForInnerType((Exchange t) => t.Amount) </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var trade in Model.Trades)
        {
            <tr>
                <td>
                    <a asp-page="/Cards/Details"
                        asp-route-id="@trade.CardId">
                        @trade.Card.Name </a>
                </td>
                <td>
                    @foreach (var cost in trade.Card.GetManaSymbols())
                    {
                        <span class="m-1 ms ms-@cost ms-cost"></span>
                    }
                </td>
                <td> @trade.Card.SetName </td>
                <td>
                    <a asp-page="/Decks/Viewer"
                       asp-route-deckid="@trade.ToId">
                       @trade.To.Name </a>
                </td>
                <td> @trade.Amount </td>
                <td>
                    <form method="POST">
                        <input type="hidden" name="tradeid" value="@trade.Id" />

                        <input type="submit"
                            asp-page-handler="Accept"
                            class="btn btn-secondary mb-3"
                            value="Accept" />

                        <input type="submit"
                            asp-page-handler="Reject"
                            class="btn btn-secondary mb-3"
                            value="Reject" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>