@page "{deckId:int}"
@model Transfers.StatusModel
@{
    ViewData["Title"] = $"{Model.Deck.Owner.Name}'s Trades";
}
@inject Services.IMTGSymbols MtgSymbols

<h1>Trades To @Model.Deck.Name</h1>
<hr />


@if (!string.IsNullOrEmpty(Model.PostMessage))
{
    <div class="alert alert-secondary" role="alert">
        @Model.PostMessage
    </div>
}

<div class="alert alert-secondary" role="alert">
    <p>Do you want cancel the requests listed below?</p>
    <p>Cancelling will allow for edits to @Model.Deck.Name</p>

    <form method="POST">
        <input type="hidden" asp-for="Deck.Id" />

        <input type="submit"
            class="btn btn-danger"
            value="Confirm Cancel" />
    </form>
</div>


<h2>Sent Trades</h2>

<table class="table">
    <thead>
        <tr>
            <th> @Html.DisplayNameForInnerType((Trade t) => t.Card) </th>
            <th> @Html.DisplayNameForInnerType((Card c) => c.SetName) </th>
            <th> Trade With </th>
            <th> @Html.DisplayNameForInnerType((Trade t) => t.From) </th>
            <th> Deck Color </th>
            <th> @Html.DisplayNameForInnerType((Trade t) => t.Amount) </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var trade in Model.Deck.TradesTo)
        {
            <tr>
                <td>
                    <a asp-page="/Cards/Details"
                       asp-route-id="@trade.CardId">
                       @trade.Card.Name </a>
                </td>

                <td> @trade.Card.SetName </td>
                <td> @trade.From.Owner.Name </td>

                <td>
                    <a asp-page="/Decks/Viewer"
                       asp-route-id="@trade.FromId">
                       @trade.From.Name </a>
                </td>

                <td> @MtgSymbols.InjectIcons(trade.From.Colors).ToHtmlString() </td>
                <td> @trade.Amount </td>
            </tr>
        }
    </tbody>
</table>


<h2>Current Cards</h2>

<table class="table">
    <thead>
        <tr>
            <th> @Html.DisplayNameForInnerType((CardAmount ca) => ca.Card) </th>
            <th> @Html.DisplayNameForInnerType((Card c) => c.ManaCost) </th>
            <th> Cards In Deck </th>
            <th> Requests </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model.CardGroups)
        {
            var card = group.Cards.First();
            <tr>
                <td>
                    <a asp-page="/Cards/Details"
                       asp-route-id="@card.Id"
                       class="fw-bold">
                       @group.Name </a>
                </td>
                <td> @MtgSymbols.InjectIcons(card.ManaCost).ToHtmlString() </td>
                <td> @group.InDeck </td>
                <td> @group.Requests </td>
            </tr>
        }
    </tbody>
</table>