@page "{deckId:int}"
@model Transfers.StatusModel
@{
    ViewData["Title"] = $"{Model.Deck.Owner.Name}'s Trades";
}
@inject SymbolFormatter MtgSymbols


<h1>Trades To @Model.Deck.Name</h1>
<hr />

<div class="alert alert-secondary" role="alert">
    <h5 class="alert-heading">Do you want cancel the requests listed below?</h5>
    <p>Cancelling will allow for edits to @Model.Deck.Name</p>

    <form method="POST">
        <input type="hidden" asp-for="Deck.Id" />

        <input type="submit"
            class="btn btn-danger"
            value="Cancel Requests" />
    </form>
</div>


<h2>Sent Trades</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col"> @Html.DisplayNameForInnerType((Trade t) => t.Card) </th>
            <th scope="col"> @Html.DisplayNameForInnerType((Card c) => c.SetName) </th>
            <th scope="col"> Trade With </th>
            <th scope="col"> @Html.DisplayNameForInnerType((Trade t) => t.From) </th>
            <th scope="col"> Deck Color </th>
            <th scope="col"> @Html.DisplayNameForInnerType((Trade t) => t.Amount) </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var trade in Model.Deck.TradesTo)
        {
            <tr>
                <td>
                    <a asp-page="/Cards/Details" asp-route-id="@trade.CardId">
                        @trade.Card.Name </a>
                </td>

                <td> @trade.Card.SetName </td>
                <td> @trade.From.Owner.Name </td>

                <td>
                    <a asp-page="/Decks/Viewer"
                       asp-route-id="@trade.FromId">
                       @trade.From.Name </a>
                </td>

                <td> @(MtgSymbols.Format(trade.From.Colors).ToHtmlString()) </td>
                <td> @trade.Amount </td>
            </tr>
        }
    </tbody>
</table>


<h2>Current Cards</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col"> @Html.DisplayNameForInnerType((Amount ca) => ca.Card) </th>
            <th scope="col"> @Html.DisplayNameForInnerType((Card c) => c.ManaCost) </th>
            <th scope="col"> Cards In Deck </th>
            <th scope="col"> Requests </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model.CardGroups)
        {
            var card = group.Cards.First();
            <tr>
                <td>
                    <a asp-page="/Cards/Details" asp-route-id="@card.Id">
                        @group.Name </a>
                </td>

                <td> @(MtgSymbols.Format(card.ManaCost).ToHtmlString()) </td>
                <td> @group.InDeck </td>
                <td> @group.Requests </td>
            </tr>
        }
    </tbody>
</table>