@page "{id}"
@model Transfers.SuggestModel
@inject SymbolFormatter MtgSymbols
@{
    ViewData["Title"] = $"{Model.Card.Name} - Suggest ({Model.Users.Offset})";
}

<h2>
    Suggest 
    <a asp-page="/Cards/Details" asp-route-id="@Model.Card.Id">
        @Model.Card.Name </a>
</h2>

<hr />
<div class="row">
    <div class="col-sm-7">
        @if (!Model.Users.Any())
        {
            <div class="alert alert-danger" role="alert">
                There are no users to suggest to
            </div>
        }
        else
        {
            <form method="POST" id="user-form" asp-route-id="@Model.Card.Id">
                <fieldset class="form-group mb-4">
                    <div class="row">
                        <legend class="col-form-label col-sm-3 pt-0"> Users </legend>
                        @{
                            var split = Model.Users.Count % 2 == 0
                                ? Model.Users.Count / 2
                                : Model.Users.Count / 2 + 1;
                        }

                        <div class="col-sm">
                            @for (int i = 0; i < split; ++i)
                            {
                                var user = Model.Users[i];
                                var userId = $"option-{user.Id}";

                                <div class="form-check">
                                    <input class="form-check-input" id="@userId"
                                        type="radio" name="receiverId"
                                        value="@user.Id" checked="@(i==0)" />

                                    <label class="form-check-label" for="@userId">
                                        @user.Name
                                    </label>
                                </div>
                            }
                        </div>

                        <div class="col-sm">
                            @for (int i = split; i < Model.Users.Count; ++i)
                            {
                                var user = Model.Users[i];
                                var userId = $"option-{user.Id}";

                                <div class="form-check">
                                    <input class="form-check-input" id="@userId"
                                        type="radio" name="receiverId"
                                        value="@user.Id" />

                                    <label class="form-check-label" for="@userId">
                                        @user.Name
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                </fieldset>
            </form>

            @if (Model.Users.Offset.HasMultiple)
            {
                var pages = Model.Users.Offset;

                <div class="form-group row">
                    <div class="col-sm">

                        @if (pages.HasPrevious)
                        {
                            <a asp-route-offset="@(pages.Current - 1)"
                                class="btn btn-secondary" role="button">
                                &laquo; </a>
                        }
                        else
                        {
                            <button class="btn btn-secondary" type="button" disabled> &laquo; </button>
                        }

                        @if (pages.HasNext)
                        {
                            <a asp-route-offset="@(pages.Current + 1)"
                                class="btn btn-secondary" role="button">
                                &raquo; </a>
                        }
                        else
                        {
                            <button class="btn btn-secondary" type="button" disabled> &raquo; </button>
                        }
                    </div>
                </div>
            }

            <div class="form-group row">
                <div class="col-sm">
                    <a href="/Cards"
                        class="btn btn-secondary"
                        role="button">
                        Collection </a>

                    <input form="user-form" type="submit"
                        class="btn btn-secondary"
                        value="Suggest User" />
                </div>
            </div>
        }
    </div>

    <div class="col-sm">
        <img class="img-fluid" alt="@Model.Card.Name" src="@Model.Card.ImageUrl.WithHttps()"/>
    </div>
</div>