@page "{cardId}/{handler?}"
@model Transfers.SuggestModel
@inject SymbolFormatter MtgSymbols


@if (Model.Receiver is null)
{
    ViewData["Title"] = $"Suggest {Model.Card.Name}";

    <h2>
        Suggest 
        <a asp-page="/Cards/Details" asp-route-id="@Model.Card.Id">
            @Model.Card.Name </a>
    </h2>
}
else
{
    ViewData["Title"] = $"Suggest {Model.Card.Name} - {Model.Receiver.Name}";

    <h2>
        Suggest 
        <a asp-page="/Cards/Details" asp-route-id="@Model.Card.Id">
            @Model.Card.Name </a>
        to @Model.Receiver.Name
    </h2>
}

<hr />
<div class="row">
    <div class="col-sm-7">
        @if (Model.Decks is not null)
        {
            <form method="POST" asp-page-handler="Suggest">
                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-3 pt-0">
                            Specific Deck
                        </legend>

                        <div class="col-sm-8"> 
                            @foreach(var deck in Model.Decks)
                            {
                                var deckId = $"option-{deck.Id}";

                                <div class="form-check">
                                    <input class="form-check-input" id="@deckId"
                                        type="radio" asp-for="Suggestion!.ToId" 
                                        value="@deck.Id" />

                                    <label class="form-check-label row" for="@deckId">
                                        <span class="col-sm-5"> @deck.Name </span>
                                        <span class="col-sm-6">
                                            @(MtgSymbols.Format(deck.Colors).ToHtmlString())
                                        </span>
                                    </label>
                                </div>
                            }

                            <div class="form-check">
                                <input class="form-check-input" id="defaultTo" 
                                    asp-for="Suggestion!.ToId" value="@null"
                                    type="radio" checked />

                                <label class="form-check-label" for="defaultTo"> No Deck </label>
                            </div>
                        </div>

                    </div>
                </fieldset>

                <div class="form-group row">
                    <label asp-for="Suggestion!.Comment" 
                        class="col-form-label col-sm-3"></label>

                    <div class="col-sm-8">
                        <textarea asp-for="Suggestion!.Comment" class="form-control"
                            placeholder="Add Comment for Suggestion">
                        </textarea>
                    </div>
                </div>

                <input type="hidden"
                    asp-for="Suggestion!.CardId"
                    value="@Model.CardId" />

                <input type="hidden"
                    asp-for="Suggestion!.ReceiverId"
                    value="@Model.Receiver?.Id" />

                <div class="form-group row">
                    <div class="col-sm-10">
                        <a asp-route-cardId="@Model.CardId"
                            class="btn btn-secondary"
                            role="button">
                            Back </a>

                        <input type="submit"
                            class="btn btn-secondary"
                            value="Suggest" />
                    </div>
                </div>
            </form>
        }
        else if (!Model.Users.Any())
        {
            <div class="alert alert-danger" role="alert">
                There are no users to suggest to
            </div>
        }
        else
        {
            <form method="GET" asp-page-handler="User" id="user-form">
                <fieldset class="form-group mb-4">
                    <div class="row">
                        <legend class="col-form-label col-sm-3 pt-0"> Users </legend>
                        @{
                            var split = Model.Users.Count / 2;
                        }

                        <div class="col-sm">
                            @for (int i = 0; i < split; ++i)
                            {
                                var user = Model.Users[i];
                                var userId = $"option-{user.Id}";

                                <div class="form-check">
                                    <input class="form-check-input" id="@userId"
                                        type="radio" name="userId"
                                        value="@user.Id" checked="@(i==0)" />

                                    <label class="form-check-label" for="@userId">
                                        @user.Name
                                    </label>
                                </div>
                            }
                        </div>

                        <div class="col-sm">
                            @for (int i = split; i < Model.Users.Count; ++i)
                            {
                                var user = Model.Users[i];
                                var userId = $"option-{user.Id}";

                                <div class="form-check">
                                    <input class="form-check-input" id="@userId"
                                        type="radio" name="userId"
                                        value="@user.Id" />

                                    <label class="form-check-label" for="@userId">
                                        @user.Name
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                </fieldset>
            </form>

            @if (Model.Users.Pages.HasMultiple)
            {
                var pages = Model.Users.Pages;

                <div class="form-group row">
                    <div class="col-sm">

                        @if (pages.HasPrevious)
                        {
                            <a asp-route-pageIndex="@(pages.Current - 1)"
                                class="btn btn-secondary" role="button">
                                &laquo; </a>
                        }
                        else
                        {
                            <button class="btn btn-secondary" type="button" disabled> &laquo; </button>
                        }

                        @if (pages.HasNext)
                        {
                            <a asp-route-pageIndex="@(pages.Current + 1)"
                                class="btn btn-secondary" role="button">
                                &raquo; </a>
                        }
                        else
                        {
                            <button class="btn btn-secondary" type="button" disabled> &raquo; </button>
                        }
                    </div>
                </div>
            }

            <div class="form-group row">
                <div class="col-sm">
                    <a asp-page="/Cards/Index"
                        class="btn btn-secondary"
                        role="button">
                        Back </a>

                    <input form="user-form" type="submit"
                        class="btn btn-secondary"
                        value="Suggest User" />
                </div>
            </div>
        }
    </div>

    <div class="col-sm">
        <img class="img-fluid" alt="@Model.Card.Name" src="@Model.Card.ImageUrl.WithHttps()"/>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}