@page
@model MTGViewer.Pages.Transfers.SuggestModel

@{
    ViewData["Title"] = $"Suggest {Model.Card.Name}";
}

<form method="post">
    @if (Model.Users is not null)
    {
        @foreach(var user in Model.Users)
        {
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="radio" name="userId" value="@user.Id" />
                    </div>
                </div>
                <span class="input-group-text">@user.UserName</span>
            </div>
        }

        <a asp-page="/Cards/Index"
            class="btn btn-secondary mb-3">
            Back</a>

        <input type="submit"
            asp-page-handler="User"
            class="btn btn-secondary mb-3"
            value="Suggest To" />
    }
    else
    {
        // Decks should be not null
        @foreach(var (deck, colors) in Model.DeckColors)
        {
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="radio" name="deckId" value="@deck.Id" />
                    </div>
                </div>

                <span class="input-group-text">@deck.Name</span>
                <div class="input-group-text">
                    @foreach(var color in colors)
                    {
                        <span class="m-1 ms ms-@color ms-cost"></span>
                    }
                </div>
            </div>
        }

        <a asp-page="./Suggest"
            asp-route-cardid="@Model.Card.Id"
            class="btn btn-secondary mb-3">
            Back</a>

        @if (!Model.DeckColors.Any())
        {
            <div class="alert alert-danger" role="alert">
                There are no decks to suggest to
            </div>
        }
        else
        {
            <input type="submit"
                asp-page-handler="Deck"
                class="btn btn-secondary mb-3"
                disabled="@(!Model.DeckColors.Any())"
                value="Suggest" />
        }
    }
</form>