@page "{cardId}/{receiverId}"
@model Transfers.SuggestUserModel
@inject SymbolFormatter MtgSymbols
@{
    ViewData["Title"] = $"{Model.Card.Name} - Suggest {Model.Receiver.Name}";
}

<h2>
    Suggest 
    <a asp-page="/Cards/Details" asp-route-id="@Model.Card.Id">
        @Model.Card.Name </a>
    to @Model.Receiver.Name
</h2>

<hr />
<div class="row">
    <div class="col-sm-7">
        <form method="POST">
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-3 pt-0">
                        Specific Deck
                    </legend>

                    <div class="col-sm-8"> 
                        @foreach(var deck in Model.Decks)
                        {
                            var deckId = $"option-{deck.Id}";

                            <div class="form-check">
                                <input class="form-check-input" id="@deckId"
                                    type="radio" asp-for="Suggestion!.ToId" 
                                    value="@deck.Id" />

                                <label class="form-check-label row" for="@deckId">
                                    <span class="col-sm-5"> @deck.Name </span>
                                    <span class="col-sm-6">
                                        @MtgSymbols.Format(deck.Colors).ToHtmlString()
                                    </span>
                                </label>
                            </div>
                        }

                        <div class="form-check">
                            <input class="form-check-input" id="defaultTo" 
                                asp-for="Suggestion!.ToId" value="@null"
                                type="radio" checked />

                            <label class="form-check-label" for="defaultTo"> No Deck </label>
                        </div>
                    </div>

                </div>
            </fieldset>

            <div class="form-group row">
                <label asp-for="Suggestion!.Comment" 
                    class="col-form-label col-sm-3"></label>

                <div class="col-sm-8">
                    <textarea asp-for="Suggestion!.Comment" class="form-control"
                        placeholder="Add Comment for Suggestion">
                    </textarea>
                </div>
            </div>

            <input type="hidden"
                asp-for="Suggestion!.CardId"
                value="@Model.Card.Id" />

            <input type="hidden"
                asp-for="Suggestion!.ReceiverId"
                value="@Model.Receiver.Id" />

            <div class="form-group row">
                <div class="col-sm-10">
                    <a asp-page="Suggest"
                        asp-route-cardId="@Model.Card.Id"
                        class="btn btn-secondary"
                        role="button">
                        Back </a>

                    <input type="submit"
                        class="btn btn-secondary"
                        value="Suggest" />
                </div>
            </div>
        </form>
    </div>
</div>
 


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}