@page "/Transfers/Suggest/{CardId}"
@using System.ComponentModel.DataAnnotations
@using MtgViewer.Data.Infrastructure
@using MtgViewer.Data.Projections

@inherits OwningComponentBase
@inject SymbolFormatter MtgSymbols
@inject CardText CardText

@switch ((Suggestion.Card, Suggestion.Receiver))
{
    case (CardImage card, UserPreview receiver):
        <PageTitle> @card.Name - Suggest @receiver.Name </PageTitle>
        <h1>
            Suggest
            <a href="/Cards/Details/@card.Id"> @card.Name </a>
            To @receiver.Name </h1>
        break;

    case (CardImage card, _):
        <PageTitle> @card.Name - Suggest </PageTitle>
        <h1> Suggest <a href="/Cards/Details/@card.Id"> @card.Name </a> </h1>
        break;

    default:
        <PageTitle> Suggest Card To User </PageTitle>
        <h1> Suggest Card to User </h1>
        break;
}

<SavePrompt @bind-Result="Result">
    <SuccessMessage>
        Suggestion successfully sent.
    </SuccessMessage>
    <ErrorMessage>
        Ran into issues while try send the suggestion.
    </ErrorMessage>
</SavePrompt>

<hr />

@if (Suggestion.Receiver is not null)
{
    <form class="row" @onsubmit="SendSuggestionAsync">

        <div class="form-group col-12 col-md-9 col-lg-6">
            <label for="@SuggestionDto.PropertyId(s => s.To)">
                @Suggestion.DisplayName(s => s.To)
            </label>

            <div id="@SuggestionDto.PropertyId(s => s.To)" class="list-group list-group-flush">
                @{ string nullActive = ToId == null ? "list-group-item-secondary" : string.Empty; }

                <button type="button" title="No Specific Deck"
                    class="list-group-item list-group-item-action @nullActive"
                    @onclick="() => ToId = null">
                    No Deck
                </button>

                @foreach (var deck in DeckOptions)
                {
                    string active = ToId == deck.Id ? "list-group-item-secondary" : string.Empty;

                    <button type="button"
                        title="Pick @deck.Name"
                        class="list-group-item list-group-item-action @active"
                        @onclick="() => ToId = deck.Id">

                        <div class="d-flex align-items-center justify-content-between">
                            <div> @deck.Name </div>
                            <div>
                                @MtgSymbols.Format(CardText.ColorString(deck.Color)).ToMarkupString()
                            </div>
                        </div>
                    </button>
                }
            </div>
        </div>

        <div class="form-group col-12 col-md-9 col-lg-5">
            <label for="@SuggestionDto.PropertyId(s => s.Comment)">
                @Suggestion.DisplayName(s => s.Comment)
            </label>

            <textarea @bind="Suggestion.Comment"
                id="@SuggestionDto.PropertyId(s => s.Comment)"
                class="form-control" />
        </div>

        <div class="col-12">
            <div class="btn-group" role="group">
                <button class="btn btn-secondary" type="button"
                    title="Choose A Different User"
                    @onclick="ChangeReceiver" disabled="@IsLoading">
                    Pick User
                </button>

                <button class="btn btn-secondary" type="button"
                    title="View Selected Deck Details"
                    @onclick="ViewDeckDetails"
                    disabled="@(IsLoading || !HasDetails)">
                    Deck Details
                </button>

                <button class="btn btn-secondary" type="button"
                    title="Load More Decks"
                    @onclick="LoadMoreDecksAsync" disabled="@(IsLoading || AllDecksLoaded)">
                    Load More
                </button>

                <button class="btn btn-secondary"
                    title="Create and Send the Suggestion"
                    type="submit" disabled="@IsLoading">
                    @if (IsLoading)
                    {
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"> </span>
                    }
                    Send
                </button>
            </div>
        </div>
    </form>
}
else if (Suggestion.Card is CardImage card)
{
    @if (IsMissingUsers)
    {
        <div class="alert alert-warning" role="alert">
            There are no users to suggest @card.Name to.
        </div>
    }

    <div class="row">
        <div class="col pb-4 d-flex justify-content-md-start justify-content-center align-items-center">
            <img class="card-img" alt="@card.Name" src="@card.ImageUrl.WithHttps()"/>
        </div>

        <div class="col-lg-8 col-md-6 col-12 pt-md-2">
            <section class="row">
                <h4 class="col-12"> Send To User </h4>

                <div class="col-lg-9 col-12">
                    <p> Suggestions can be used to message deck building ideas to other users.
                        They also do not have any effect on held copies. </p>
                </div>

                <div class="form-group col-lg-6 col">
                    <label for="SuggestionDto.PropertyId(s => s.Receiver)" hidden>
                        @Suggestion.DisplayName(s => s.Receiver) </label>

                    <select @onchange="ChangeReceiver"
                        disabled="@IsLoading" title="Suggest to User"
                        id="@SuggestionDto.PropertyId(s => s.Receiver)" class="form-control">

                        <option value="@(null as string)" selected="@(ReceiverId == null)">
                            Choose a User </option>

                        @foreach (var user in UserOptions)
                        {
                            <option value="@user.Id" selected="@(user.Id == ReceiverId)">
                                @user.Name </option>
                        }
                    </select>
                </div>
            </section>
        </div>
    </div>
}
else
{
    <div class="d-flex justify-content-center">
        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
}
