@page "/Transfers/Suggest/{cardId}"
@model MTGViewer.Pages.Transfers.SuggestModel

@{
    ViewData["Title"] = $"Suggest {Model.Card.Name}";
}

@if (Model.Users is not null)
{
    <h2>Pick which user to suggest @Model.Card.Name to</h2>
    <hr />

    @if (!Model.Users.Any())
    {
        <div class="alert alert-danger" role="alert">
            There are no users to suggest to
        </div>
    }

    @foreach(var user in Model.Users)
    {
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="radio" name="userId" value="@user.Id" />
                </div>
            </div>
            <span class="input-group-text">@user.Name</span>
        </div>
    }

        <a asp-page="/Cards/Index"
            class="btn btn-secondary mb-3">
            Back </a>

    @if (Model.Users.Any())
    {
        <form method="POST">
            <input type="submit"
                asp-page-handler="User"
                asp-route-cardid="@Model.Card.Id"
                class="btn btn-secondary mb-3"
                value="Suggest To" />
        </form>
    }
}
else
{
    <h2>Pick the deck to suggest @Model.Card.Name (Optional)</h2>
    <hr />

    <form method="POST">
        @foreach(var deck in Model.Decks)
        {
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="radio" asp-for="Suggestion.ToId" value="@deck.Id" />
                    </div>
                </div>

                <span class="input-group-text">@deck.Name</span>
                <div class="input-group-text">
                    @foreach(var color in deck.GetColorSymbols())
                    {
                        <span class="m-1 ms ms-@color ms-cost"></span>
                    }
                </div>
            </div>
        }

        <div class="form-group">
            <label asp-for="Suggestion.Comment" class="control-label"></label>
            <input asp-for="Suggestion.Comment" class="form-control" type="text" />
        </div>

        <a asp-page="./Suggest"
            asp-route-cardid="@Model.Card.Id"
            class="btn btn-secondary mb-3">
            Back </a>

        <input type="hidden"
            asp-for="Suggestion.CardId"
            value="@Model.Card.Id" />

        <input type="hidden"
            asp-for="Suggestion.ReceiverId"
            value="@Model.Receiver.Id" />

        <input type="submit"
            asp-page-handler="Suggest"
            class="btn btn-secondary mb-3"
            value="Suggest" />
    </form>
}