@using Microsoft.Extensions.DependencyInjection
@namespace MTGViewer.Components

@inherits OwningComponentBase
@implements IDisposable

@inject SymbolFormatter MtgSymbols
@inject NavigationManager Nav


<h1>Add New Card</h1>

@if (!_matches.Any())
{
    <hr />
    <EditForm EditContext="@_searchEdit" OnValidSubmit="@SearchForCardAsync">
        <div class="row">

            <div class="col order-last">
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>

                <h5> Or Operator </h5>
                <p> 
                    All of the parameters (except Converted Mana Cost and Color) can search with multiple values 
                    specified by adding the pipe character between each value. These multiple values act as a 
                    logical <strong>or</strong> for the search.
                </p>

                <p> Example for Name: <code>jace|ajani|nissa, worldwaker</code> </p>

                <h5> And Operator </h5>
                <p>
                    Parameters that can have multiple values (Types, Supertypes, and Subtypes) can also have 
                    multiple values specified by adding a comma or space between each value. These multiple
                    values act as a logical <strong>and</strong> for the search.
                </p>

                <p> Example for Subtype(s): <code>bear,bird</code> or <code>bear bird</code> </p>
            </div>

            <div class="col-md-4">
                <p> Enter the card search parameters below </p>

                <div class="form-group">
                    @foreach (var (color, symbol) in Color.Symbols)
                    {
                        var toggleId = $"{color}Toggle";
                        var active = _pickedColors.Contains(color) ? "active" : string.Empty;

                        <button title="@toggleId"
                            type="button"
                            class="btn btn-outline-secondary border-0 rounded @active"
                            @onclick="() => SearchColorToggle(color)">
                            <i class="ms ms-@symbol.ToLower() ms-cost"></i>
                        </button>
                    }
                </div>

                <div class="form-group">
                    <InputText @bind-Value="_search.Name" 
                        placeholder="@_search.DisplayName(c => c.Name)" 
                        class="form-control" />
                </div>

                <div class="form-group">
                    <InputNumber @bind-Value="_search.Cmc" min="0"
                        placeholder="@_search.DisplayName(c => c.Cmc)" 
                        class="form-control" />
                </div>

                <div class="form-group">
                    <InputText @bind-Value="_search.Rarity" 
                        placeholder="@_search.DisplayName(c => c.Rarity)" 
                        class="form-control" />
                </div>

                <div class="form-group">
                    <InputText @bind-Value="_search.SetName" 
                        placeholder="@_search.DisplayName(c => c.SetName)" 
                        class="form-control" />
                </div>

                <div class="form-group">
                    <InputText @bind-Value="_search.Supertypes"
                        placeholder="@_search.DisplayName(c => c.Supertypes)"
                        class="form-control" />
                </div>

                <div class="form-group">
                    <InputText @bind-Value="_search.Types"
                        placeholder="@_search.DisplayName(c => c.Types)"
                        class="form-control" />
                </div>

                <div class="form-group">
                    <InputText @bind-Value="_search.Subtypes"
                        placeholder="@_search.DisplayName(c => c.Subtypes)"
                        class="form-control" />
                </div>

                <div class="form-group">
                    <InputText @bind-Value="_search.Artist" 
                        placeholder="@_search.DisplayName(c => c.Artist)" 
                        class="form-control" />
                </div>

                <div class="form-group">
                    <InputText @bind-Value="_search.Power" 
                        placeholder="@_search.DisplayName(c => c.Power)" 
                        class="form-control" />
                </div>

                <div class="form-group">
                    <InputText @bind-Value="_search.Toughness" 
                        placeholder="@_search.DisplayName(c => c.Toughness)" 
                        class="form-control" />
                </div>

                <div class="form-group">
                    <InputText @bind-Value="_search.Loyalty" 
                        placeholder="@_search.DisplayName(c => c.Loyalty)" 
                        class="form-control" />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-secondary"> Search </button>

                    <button type="button" class="btn btn-secondary" title="Reset" 
                        @onclick="Reset"> Reset </button>
                </div>
            </div>
        </div>
    </EditForm>
}
else
{
    <div class="form-group">
        <button title="Add Button" type="button"
            @onclick="AddNewCardsAsync" 
            disabled="@CannotAdd" class="btn btn-secondary">
            Add Cards/Amounts </button>

        <button title="Reset Button" type="button"
            @onclick="Reset" class="btn btn-secondary">
            Reset </button>
    </div>

    <div class="form-row align-items-center my-3">
        <div class="col-3">
            <input class="form-control" placeholder="Name" @bind="_matchName" />
        </div>

        <div class="col-auto btn-group" role="group" aria-label="Color Buttons">
            @foreach (var (color, symbol) in Color.Symbols)
            {
                var active = _pickedColors.Contains(color) ? "active" : "";

                <button title="@color filter"
                        type="button"
                        class="btn btn-outline-secondary border-0 rounded @active"
                        @onclick="() => MatchColorToggle(color)">
                    <i class="ms ms-@symbol.ToLower() ms-cost"></i>
                </button>
            }
        </div>
    </div>

    <table class="table">
        <thead>
            <th> @Entities.DisplayName((Card c) => c.Name) </th>
            <th> @Entities.DisplayName((Card c) => c.ManaCost) </th>
            <th> @Entities.DisplayName((Card c) => c.Rarity) </th>
            <th> @Entities.DisplayName((Card c) => c.SetName) </th>
            <th> Amount </th>
        </thead>
        <tbody>
            @foreach (var (match, amount) in _matches)
            {
                @if (MatchPassesFilters(match))
                {
                    <tr>
                        <td> @match.Name </td>
                        <td> @MtgSymbols.Format(match.ManaCost).ToMarkupString() </td>
                        <td> @match.Rarity </td>
                        <td> @match.SetName </td>
                        <td>
                            <input title="@match.Name Amount" 
                                type="number" min="0" value="@amount" 
                                @onchange="e => UpdateAmount(e, match)"
                                class="form-control w-50" />
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div class="form-group">
        <button title="More Results" type="button"
            @onclick="SearchForCardAsync" 
            disabled="@(!HasMore)" class="btn btn-secondary">
            Load More</button>
    </div>
}


@code {
    private bool HasMore => _nextPage >= 0;

    private bool CannotAdd => _matches.All(kv => kv.Value <= 0);


    private bool _isBusy;

    private readonly HashSet<string> _pickedColors = new(StringComparer.OrdinalIgnoreCase);
    private readonly CardSearch _search = new();

    private EditContext _searchEdit;
    private ValidationMessageStore _resultErrors;

    private readonly Dictionary<Card, int> _matches = new();
    private string _matchName;
    private int _nextPage;


    protected override void OnInitialized()
    {
        _searchEdit = new(_search);
        _resultErrors = new(_searchEdit);

        Reset();

        _searchEdit.OnValidationRequested += ClearErrors;
        _searchEdit.OnFieldChanged += ClearErrors;
    }


    public void Dispose()
    {
        _searchEdit.OnValidationRequested -= ClearErrors;
        _searchEdit.OnFieldChanged -= ClearErrors;
    }


    private void ClearErrors(object sender, ValidationRequestedEventArgs args)
    {
        _resultErrors.Clear();
        _searchEdit.NotifyValidationStateChanged();
    }


    private void ClearErrors(object sender, FieldChangedEventArgs args)
    {
        var idField = _searchEdit.Field(nameof(CardSearch.Id));

        _resultErrors.Clear(idField);
        _resultErrors.Clear(args.FieldIdentifier);

        _searchEdit.NotifyValidationStateChanged();
    }


    private void NoMatchError()
    {
        var idField = _searchEdit.Field(nameof(CardSearch.Id));
        var noMatch = new []{ "No matches were found" };

        _resultErrors.Add(idField, noMatch);
        _searchEdit.NotifyValidationStateChanged();
    }


    private void SearchColorToggle(string color)
    {
        if (_pickedColors.Contains(color))
        {
            _pickedColors.Remove(color);
        }
        else
        {
            _pickedColors.Add(color);
        }

        var colorField = _searchEdit.Field(nameof(CardSearch.Colors));

        _search.Colors = string.Join(MTGFetchService.Or, _pickedColors);

        _searchEdit.NotifyFieldChanged(colorField);
    }



    private async Task SearchForCardAsync()
    {
        if (!HasMore)
        {
            return;
        }

        if (_isBusy)
        {
            return;
        }

        var fetch = ScopedServices.GetRequiredService<MTGFetchService>();

        _isBusy = true;

        try
        {
            var result = await fetch.MatchAsync(_search, _nextPage);

            foreach (var match in result)
            {
                _matches.Add(match, 0);
            }

            if (!_matches.Any())
            {
                NoMatchError();
            }
            else if (result.Any())
            {
                _nextPage++;
            }
            else
            {
                _nextPage = -1;
            }
        }
        finally
        {
            _isBusy = false;
        }
    }


    private void UpdateAmount(ChangeEventArgs args, Card card)
    {
        if (int.TryParse(args.Value.ToString(), out int newAmount)
            && newAmount >= 0)
        {
            _matches[card] = newAmount;
        }
    }


    private void MatchColorToggle(string color)
    {
        if (_pickedColors.Contains(color))
        {
            _pickedColors.Remove(color);
        }
        else
        {
            _pickedColors.Add(color);
        }
    }


    private bool MatchPassesFilters(Card match)
    {
        const StringComparison ignoreCase = StringComparison.CurrentCultureIgnoreCase;

        var matchColors = match.Colors.Select(c => c.Name);

        bool nameMatches = string.IsNullOrWhiteSpace(_matchName) 
            || match.Name.Contains(_matchName, ignoreCase);

        bool colorMatches = _pickedColors.Count == 0 
            || _pickedColors.Overlaps(matchColors);

        return nameMatches && colorMatches;
    }


    private void Reset()
    {
        _pickedColors.Clear();

        _matches.Clear();
        _nextPage = 0;

        _search.Name = default;
        _search.Cmc = default;
        _search.Colors = default;
        _search.Rarity = default;
        _search.SetName = default;

        _search.Supertypes = default;
        _search.Types = default;
        _search.Subtypes = default;

        _search.Artist = default;
        _search.Power = default;
        _search.Toughness = default;
        _search.Loyalty = default;

        // force data validation, might be inefficient
        _searchEdit.Validate();
    }


    private async Task AddNewCardsAsync()
    {
        var addedAmounts = _matches
            .Where(kv => kv.Value > 0)
            .Select(kv => (card: kv.Key, amount: kv.Value))
            .ToList();

        if (!addedAmounts.Any())
        {
            return;
        }

        if (_isBusy)
        {
            return;
        }

        var logger = ScopedServices.GetRequiredService<ILogger<Create>>();

        _isBusy = true;

        try
        {
            await SaveNewCardsAsync(addedAmounts.Select(ca => ca.card));

            await AddAmountsAsync(addedAmounts);

            Nav.NavigateTo("/Cards", true);
        }
        catch (DbUpdateException e)
        {
            logger.LogError($"failed to add new cards {e}");
        }
        finally
        {
            _isBusy = false;
        }
    }


    private async Task SaveNewCardsAsync(IEnumerable<Card> cards)
    {
        var dbContext = ScopedServices.GetRequiredService<CardDbContext>();

        var cardIds = cards.Select(c => c.Id).ToArray();

        var existingIds = (await dbContext.Cards
            .Select(c => c.Id)
            .Where(cid => cardIds.Contains(cid))
            .ToListAsync())
            .ToHashSet();

        var newCards = cards
            .Where(c => !existingIds.Contains(c.Id))
            .ToList();

        if (!newCards.Any())
        {
            return;
        }

        dbContext.Cards.AddRange(newCards);

        await dbContext.SaveChangesAsync();
    }


    private async Task AddAmountsAsync(IEnumerable<(Card card, int amount)> newAmounts)
    {
        var sharedStorage = ScopedServices.GetRequiredService<ISharedStorage>();

        var returns = newAmounts
            .Select(ca => new CardReturn(ca.card, ca.amount))
            .ToList();

        await sharedStorage.ReturnAsync(returns);
    }
}