@page
@using MTGViewer.Data
@model MTGViewer.Pages.Decks.IndexModel

@{
    ViewData["Title"] = $"Decks - {Model.CardUser.Name}";
}


@if (Model.PickedRequest != null)
{
    <h2>Deck Options for @Model.PickedRequest.Card.Name</h2>

    <form method="post">
        <table class="table">
            <thead>
                <tr>
                    <th> Deck @Html.DisplayNameForInnerType((Deck d) => d.Name) </th> 
                    <th> @Html.DisplayNameForInnerType((Deck d) => d.Owner) </th> 
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var source in Model.RequestSources)
                {
                    <tr>
                        <td> @source.Name </td>
                        <td> @source.Owner.Name </td>
                        <td>
                            <input type="radio" name="deckId" value="@source.Id" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="form-group">
            <label for="amountRange">Amount to Request</label>

            <!-- not sure on max value -->
            <input type="range"
                   id="amountRange"
                   class="form-control-range"
                   name="amount"
                   min="1" max="20" step="1"
                   value="1" />
        </div>

        <input type="submit"
               asp-page-handler="Trade"
               asp-route-requestid="@Model.PickedRequest.Id"
               class="btn btn-secondary mb-3"
               value="Request" />
    </form>
}
else
{
    <h2>@Model.CardUser.Name's Decks</h2>

    <a class="btn btn-secondary" asp-page="./Builder">New Deck</a>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Deck @Html.DisplayNameForInnerType((Deck d) => d.Name)
                </th>
                <th>Number of Cards</th>
                <th>Colors</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var (deck, colors) in Model.DeckColors)
            {
                <tr>
                    <td> @deck.Name </td>
                    <td> @deck.Cards.Select(ca => ca.Amount).Sum() </td>
                    <td>
                        @foreach (var color in colors)
                        {
                            <span class="m-1 ms ms-@color ms-cost"></span>
                        }
                    </td>
                    <td>
                        <a asp-page="./Builder" asp-route-id="@deck.Id"> Edit </a> |
                        <a asp-page="./Delete" asp-route-id="@deck.Id"> Delete </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <h2>@Model.CardUser.Name's Request Trade Options</h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameForInnerType((CardAmount ca) => ca.Card) Name
                </th>
                <th> Deck </th>
                <th>
                    @Html.DisplayNameForInnerType((CardAmount ca) => ca.Amount)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <form method="post">
                @foreach (var request in Model.Requests)
                {
                    <tr>
                        <td> @request.Card.Name </td>
                        <td> @request.Location.Name </td>
                        <td> @request.Amount </td>
                        <td>
                            <input type="submit"
                                   asp-page-handler="Request"
                                   asp-route-requestid="@request.Id"
                                   class="btn btn-secondary mb-3"
                                   value="Trade" />
                        </td>
                    </tr>
                }
            </form>
        </tbody>
    </table>
}