@page
@using MTGViewer.Data
@model MTGViewer.Pages.Decks.IndexModel

@{
    ViewData["Title"] = $"Decks - {Model.CardUser.Name}";
}


@if (!string.IsNullOrEmpty(Model.PostMessage))
{
    <div class="alert alert-secondary" role="alert">
        @Model.PostMessage
    </div>
}

 
<h2>@Model.CardUser.Name's Decks</h2>

<a class="btn btn-secondary" asp-page="./Builder">New Deck</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Deck @Html.DisplayNameForInnerType((Deck d) => d.Name)
            </th>
            <th>Number of Cards</th>
            <th>Colors</th>
            <th>State</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (deck, colors, state) in Model.DeckColors)
        {
            <tr>
                <td> @deck.Name </td>
                <td> @deck.Cards.Select(ca => ca.Amount).Sum() </td>
                <td>
                    @foreach (var color in colors)
                    {
                        <span class="m-1 ms ms-@color ms-cost"></span>
                    }
                </td>
                <td> @state.ToString() </td>
                <td>
                    @switch (state)
                    {
                        case IndexModel.DeckState.Invalid:
                            <a asp-page="./Builder"
                               asp-route-id="@deck.Id"
                               class="btn btn-secondary mb-3">
                               Edit </a>

                            <a asp-page="./Delete"
                               asp-route-id="@deck.Id"
                               class="btn btn-secondary mb-3">
                               Delete </a>

                            <a asp-page="/Transfers/Request"
                               asp-route-deckid="@deck.Id"
                               class="btn btn-secondary mb-3">
                               Request </a>
                            break;

                        case IndexModel.DeckState.Valid:
                            <a asp-page="./Builder"
                               asp-route-id="@deck.Id"
                               class="btn btn-secondary mb-3">
                               Edit </a>

                            <a asp-page="./Delete"
                               asp-route-id="@deck.Id"
                               class="btn btn-secondary mb-3">
                               Delete </a>
                            break;

                        case IndexModel.DeckState.Requesting:
                            <a asp-page="/Transfers/Status"
                               asp-route-deckid="@deck.Id"
                               class="btn btn-secondary mb-3">
                               Status </a>
                            break;
                        
                        default:
                            break;
                    }
                </td>
            </tr>
        }
    </tbody>
</table>