@page
@using MTGViewer.Data
@model MTGViewer.Pages.Decks.IndexModel

@{
    ViewData["Title"] = $"Decks - {Model.CardUser.Name}";
}


@if (!string.IsNullOrEmpty(Model.PostMessage))
{
    <div class="alert alert-secondary" role="alert">
        @Model.PostMessage
    </div>
}

 
<h2>@Model.CardUser.Name's Decks</h2>
<hr/>

<a class="btn btn-secondary mb-3" asp-page="./Builder">New Deck</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Deck @Html.DisplayNameForInnerType((Deck d) => d.Name)
            </th>
            <th>Number of Cards</th>
            <th>Colors</th>
            <th>State</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (deck, state) in Model.Decks)
        {
            <tr>
                <td>
                    @if (state is State.Requesting)
                    {
                        <a asp-page="./Viewer"
                           asp-route-deckid="@deck.Id"
                           class="fw-bold">
                           @deck.Name </a>
                    }
                    else
                    {
                        <a asp-page="./Builder"
                           asp-route-id="@deck.Id"
                           class="fw-bold">
                           @deck.Name </a>
                    }
                </td>

                <td> @deck.Cards.Sum(ca => ca.Amount) </td>
                <td>
                    @foreach (var color in deck.GetColorSymbols())
                    {
                        <span class="m-1 ms ms-@color ms-cost"></span>
                    }
                </td>
                <td>
                    @if (state is State.Requesting)
                    {
                        <a asp-page="/Transfers/Status"
                           asp-route-deckid="@deck.Id"
                           class="fw-bold">
                           @state.ToString() </a>
                    }
                    else if (state is State.Invalid)
                    {
                        <a asp-page="/Transfers/Request"
                           asp-route-deckid="@deck.Id"
                           class="fw-bold">
                           @state.ToString() </a>
                    }
                    else
                    {
                        @state.ToString()
                    }
                </td>
                <td>
                    <a asp-page="./Delete"
                        asp-route-id="@deck.Id"
                        class="btn btn-danger mb-3">
                        Delete </a>
                </td>
            </tr>
        }
    </tbody>
</table>