@page "{pageIndex:int?}"
@model Decks.IndexModel
@{
    ViewData["Title"] = $"{Model.CardUser.Name} - Decks ({Model.Decks.Pages})";
}
@inject SymbolFormatter MtgSymbols

 
<h1>@Model.CardUser.Name's Decks</h1>

<a href="/Decks/Builder" class="btn btn-secondary mb-3" role="button">New Deck</a>

<div class="table-responsive-md">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"> @Html.DisplayNameForInnerType((Deck d) => d.Name) </th>
                <th scope="col"> Colors </th>
                <th scope="col"> Number of Cards </th>
                <th scope="col"> State </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var (deck, state) in Model.Decks)
            {
                <tr>
                    <td>
                        <a asp-page="Viewer" asp-route-id="@deck.Id">
                            @deck.Name </a>
                    </td>

                    <td>
                        <div class="ms-group">
                            @MtgSymbols.Format(deck.Colors).ToHtmlString()
                        </div>
                    </td>
                    <td> @deck.Cards.Sum(ca => ca.NumCopies) </td>

                    <td>
                        @if (state is State.Requesting)
                        {
                            <a asp-page="/Transfers/Status" asp-route-deckid="@deck.Id">
                                @state.ToString() </a>
                        }
                        else if (state is State.Theorycraft)
                        {
                            <a asp-page="Exchange" asp-route-id="@deck.Id">
                                @state.ToString() </a>
                        }
                        else
                        {
                            @state.ToString()
                        }
                    </td>
                    
                    <td class="btn-group" role="group">
                        @if (state is State.Requesting)
                        {
                            <button class="btn btn-secondary" type="button" disabled> Edit </button>
                        }
                        else
                        {
                            <a href="/Decks/Builder/@deck.Id"
                                class="btn btn-secondary" role="button">
                                Edit </a>
                        }

                        <a asp-page="History" asp-route-id="@deck.Id"
                            class="btn btn-secondary" role="button">
                            History </a>

                        <a asp-page="Delete" asp-route-id="@deck.Id"
                            class="btn btn-danger" role="button">
                            Delete </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<partial name="_PaginationPartial" for="Decks.Pages"/>
