@page 
@model Treasury.HistoryModel
@{
    ViewData["Title"] = $"Treasury - History";
}

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using MTGViewer.Areas.Identity.Data

@inject IAuthorizationService AuthorizationService
@inject SignInManager<CardUser> SignInManager

@{
    bool canChangeTreasury = (await AuthorizationService
        .AuthorizeAsync(User, CardPolicies.ChangeTreasury)).Succeeded;

    bool isSignedIn = SignInManager.IsSignedIn(User);
}

<h1>Changes To Treasury</h1>

<partial name="_TimeZonePartial" for="TimeZone"/>

<div class="table-responsive-md">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col"> @Html.DisplayNameForInnerType((Transaction t) => t.AppliedAt) </th>
                <th scope="col"> @Html.DisplayNameForInnerType((Change c) => c.From) </th>
                <th scope="col"> @Html.DisplayNameForInnerType((Change c) => c.To) </th>
                <th scope="col"> @Html.DisplayNameForInnerType((Change c) => c.Card) </th>
                <th scope="col"> @Html.DisplayNameForInnerType((Change c) => c.Amount) </th>

                @if (isSignedIn)
                {
                    <th scope="col"></th>
                }
            </tr>
        </thead>
        <tbody>
            @if (!Model.Transfers.Any())
            {
                <tr>
                    <td> -- </td>
                    <td> -- </td>
                    <td> -- </td>
                    <td> -- </td>
                    <td> -- </td>
                    @if (isSignedIn)
                    {
                        <td> -- </td>
                    }
                </tr>
            }
            @foreach (var transfer in Model.Transfers)
            {
                var (transaction, to, from, changes) = transfer;
                var first = changes.First();

                <tr>
                    @if (Model.IsFirstTransfer(transfer))
                    {
                        <th scope="rowgroup" rowspan="@transaction.Changes.Count">
                            @TimeZoneInfo.ConvertTimeFromUtc(transaction.AppliedAt, Model.TimeZone)
                        </th>
                    }

                    <td rowspan="@changes.Count">
                        @switch (from)
                        {
                            case Deck:
                                <a asp-page="/Decks/Details" asp-route-id="@from.Id"> @from.Name </a>
                                break;

                            case Box box when box.IsExcess:
                                <a asp-page="Excess" asp-route-id="@from.Id"> @from.Name </a>
                                break;

                            case Box:
                                <a asp-page="Details" asp-route-id="@from.Id"> @from.Name </a>
                                break;

                            case Unclaimed when canChangeTreasury:
                                <a asp-page="/Unowned/Index" asp-route-id="@from.Id"> @from.Name </a>
                                break;

                            case null:
                                <i>Added</i>
                                break;

                            default:
                                @from.Name
                                break;
                        }
                    </td>
                    
                    <td rowspan="@changes.Count">
                        @switch (to)
                        {
                            case Deck:
                                <a asp-page="/Decks/Details" asp-route-id="@to.Id"> @to.Name </a>
                                break;

                            case Box box when box.IsExcess:
                                <a asp-page="Excess"> @to.Name </a>
                                break;

                            case Box:
                                <a asp-page="Details" asp-route-id="@to.Id"> @to.Name </a>
                                break;

                            case Unclaimed when canChangeTreasury:
                                <a asp-page="/Unowned/Index" asp-route-id="@to.Id"> @to.Name </a>
                                break;
                            
                            default:
                                @to.Name
                                break;
                        }
                    </td>

                    <td>
                        <component type="typeof(HoverCard)" render-mode="Static"
                            param-Target="first.Card"/>
                    </td>

                    <td> @first.Amount </td>

                    @if (isSignedIn
                        && Model.IsFirstTransfer(transfer)
                        && Model.IsShared(transaction))
                    {
                        @if (canChangeTreasury)
                        {
                            <td rowspan="@transaction.Changes.Count" class="text-center">
                                <form method="POST">
                                    <input type="hidden" name="transactionId" value="@transaction.Id"/>
                                    <button title="Remove Record" type="submit" class="btn btn-danger"> &times; </button>
                                </form>
                            </td>
                        }
                        else
                        {
                            <button class="btn btn-secondary" type="button" disabled> &times; </button>
                        }
                    }
                </tr>

                @foreach (var change in changes.Skip(1))
                {
                    <tr>
                        <td> 
                            <component type="typeof(HoverCard)" render-mode="Static"
                                param-Target="change.Card"/>
                        </td>
                        <td> @change.Amount </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<component type="typeof(SeekPaging<Change>)" render-mode="Static" param-Seek="Model.Seek" />