@page
@model Treasury.IndexModel
@{
    ViewData["Title"] = $"Treasury";
}

@inject IAuthorizationService AuthorizationService
@inject SignInManager<CardUser> SignInManager
@inject SymbolFormatter MtgSymbols

@{
    bool canChangeTreasury = (await AuthorizationService
        .AuthorizeAsync(User, CardPolicies.ChangeTreasury)).Succeeded;

    bool isSignedIn = SignInManager.IsSignedIn(User);
}

<h1>Treasury</h1>

<div class="row mb-3">
    @if (isSignedIn)
    {
        <div class="col-auto btn-group pr-2" role="group" aria-label="Treasury Backup">
            @if (canChangeTreasury)
            {
                <a href="/Treasury/Adjust" class="btn btn-secondary" role="button"> Add Box </a>
                <a href="/Treasury/Import" class="btn btn-secondary" role="button"> Import </a>
            }
            else
            {
                <button class="btn btn-secondary" type="button" disabled> Add Box </button>
                <button class="btn btn-secondary" type="button" disabled> Import </button>
            }

            <a asp-page="Export" class="btn btn-secondary" role="button"> Export </a>
            <a asp-page="Reset" class="btn btn-danger" role="button"> Reset </a>
        </div>
    }

    <div class="col-auto btn-group pr-2" role="group" aria-label="Treasury Miscellaneous">

        <a asp-page="/Transactions/Index" class="btn btn-secondary" role="button"> History </a>
        @if (Model.HasExcess)
        {
            <a asp-page="Excess" class="btn btn-secondary" role="button"> Excess </a>
        }
    </div>
</div>

@if (!Model.Bins.Any())
{
    <h3> There are no Boxes in the Collection </h3>
}


@{ string returnUrl = $"{Request.Path}{Request.QueryString}"; }

@foreach (var bin in Model.Bins)
{
    <h3> @bin.Name </h3>

    <div class="table-responsive-md">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col"> Box </th>
                    <th scope="col"> @Html.DisplayNameForInnerType((Hold h) => h.Card) </th>
                    <th scope="col"> @Html.DisplayNameForInnerType((Card c) => c.ManaCost) </th>
                    <th scope="col"> @Html.DisplayNameForInnerType((Card c) => c.SetName) </th>
                    <th scope="col"> @Html.DisplayNameForInnerType((Hold h) => h.Copies) </th>
                    <th scope="col"> @Html.DisplayNameForInnerType((Box b) => b.Capacity) </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var box in bin.Boxes)
                {
                    var firstCard = box.Cards.FirstOrDefault();
                    int boxSpan = Math.Max(1, box.Cards.Count());

                    if (box.HasMoreCards)
                    {
                        boxSpan += 1;
                    }

                    <tr>
                        <th scope="rowgroup" rowspan="@boxSpan">
                            <a asp-page="Details" asp-route-id="@box.Id">
                                @box.Name </a>
                        </th>

                        @if (firstCard != default)
                        {
                            <td>
                                <a asp-page="/Cards/Details"
                                    asp-route-id="@firstCard.Id" asp-route-returnurl="@returnUrl">
                                    @firstCard.Name </a>
                            </td>

                            <td> 
                                <div class="ms-group">
                                    @MtgSymbols.Format(firstCard.ManaCost).ToHtmlString() 
                                </div>
                            </td>
                            <td> @firstCard.SetName </td>
                            <td> @firstCard.Held </td>
                        }
                        else
                        {
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        }

                        <td rowspan="@boxSpan"> @box.Held / @box.Capacity </td>
                    </tr>

                    @foreach (var card in box.Cards.Skip(1))
                    {
                        <tr>
                            <td>
                                <a asp-page="/Cards/Details"
                                    asp-route-id="@card.Id" asp-route-returnurl="@returnUrl">
                                    @card.Name </a>
                            </td>
                            <td> 
                                <div class="ms-group">
                                    @MtgSymbols.Format(card.ManaCost).ToHtmlString()
                                </div>
                            </td>
                            <td> @card.SetName </td>
                            <td> @card.Held </td>
                        </tr>
                    }

                    @if (box.HasMoreCards)
                    {
                        <tr>
                            <td> ... </td>
                            <td> ... </td>
                            <td> ... </td>
                            <td> ... </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}

<partial name="_SeekPagingPartial" for="Seek"/>
