@page
@model MTGViewer.Pages.Cards.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Card</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">

        @if(Model.Matches != null && Model.Matches.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(m => m.Matches.First().Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Matches.First().ManaCost)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Matches.First().Rarity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Matches.First().SetName)
                        </th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var card in Model.Matches)
                {
                    <tr>
                        <td>
                            <input type="radio" asp-for="Picked" value="@card.Id"/>
                        </td>
                        <td>
                            @Html.DisplayFor(_ => card.Name)
                        </td>
                        <td>
                        @foreach (var cost in card.GetColorSymbols()) {
                            <i class="ms ms-@cost.ToLower() ms-cost"></i>
                        }
                        </td>
                        <td>
                            @Html.DisplayFor(_ => card.Rarity)
                        </td>
                        <td>
                            @Html.DisplayFor(_ => card.SetName)
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Card.Name" class="control-label"></label>
                <input asp-for="Card.Name" class="form-control" />
                <span asp-validation-for="Card.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Card.ManaCost" class="control-label"></label>
                <input asp-for="Card.ManaCost" class="form-control" />
                <span asp-validation-for="Card.ManaCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Card.Cmc" class="control-label"></label>
                <input asp-for="Card.Cmc" class="form-control" />
                <span asp-validation-for="Card.Cmc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Card.Rarity" class="control-label"></label>
                <input asp-for="Card.Rarity" class="form-control" />
                <span asp-validation-for="Card.Rarity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Card.SetName" class="control-label"></label>
                <input asp-for="Card.SetName" class="form-control" />
                <span asp-validation-for="Card.SetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Card.Artist" class="control-label"></label>
                <input asp-for="Card.Artist" class="form-control" />
                <span asp-validation-for="Card.Artist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Card.Power" class="control-label"></label>
                <input asp-for="Card.Power" class="form-control" />
                <span asp-validation-for="Card.Power" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Card.Toughness" class="control-label"></label>
                <input asp-for="Card.Toughness" class="form-control" />
                <span asp-validation-for="Card.Toughness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Card.Loyalty" class="control-label"></label>
                <input asp-for="Card.Loyalty" class="form-control" />
                <span asp-validation-for="Card.Loyalty" class="text-danger"></span>
            </div>
        }

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
