@page
@using MTGViewer.Models
@model MTGViewer.Pages.Cards.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@* <form method="post">
    <label asp-for="Search.Name" class="control-label"></label>
    <input asp-for="Search.Name"/>
    <input type="submit" value="Filter" />
</form> *@

<component type="typeof(Components.Library)" render-mode="ServerPrerendered" />
@* @(await Html.RenderComponentAsync<Components.Library>(RenderMode.ServerPrerendered)) *@

@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameForInnerType((Card c) => c.Name)
            </th>
            <th>
                @Html.DisplayNameForInnerType((Card c) => c.ManaCost)
            </th>
            <th>
                @Html.DisplayNameForInnerType((Card c) => c.Cmc)
            </th>
            <th>
                @Html.DisplayNameForInnerType((Card c) => c.Rarity)
            </th>
            <th>
                @Html.DisplayNameForInnerType((Card c) => c.SetName)
            </th>
            <th>
                @Html.DisplayNameForInnerType((Card c) => c.Artist)
            </th>
            <th>
                @Html.DisplayNameForInnerType((Card c) => c.Power)
            </th>
            <th>
                @Html.DisplayNameForInnerType((Card c) => c.Toughness)
            </th>
            <th>
                @Html.DisplayNameForInnerType((Card c) => c.Loyalty)
            </th>
            <th>
                @Html.DisplayNameForInnerType((Card c) => c.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var card in Model.Cards) {
        <tr>
            <td>
                @Html.DisplayFor(_ => card.Name)
            </td>

            <td>
            @foreach (var cost in card.GetColorSymbols()) {
                <i class="ms ms-@cost.ToLower() ms-cost"></i>
            }
            </td>
            
            <td>
                @Html.DisplayFor(_ => card.Cmc)
            </td>
            <td>
                @Html.DisplayFor(_ => card.Rarity)
            </td>
            <td>
                @Html.DisplayFor(_ => card.SetName)
            </td>
            <td>
                @Html.DisplayFor(_ => card.Artist)
            </td>
            <td>
                @Html.DisplayFor(_ => card.Power)
            </td>
            <td>
                @Html.DisplayFor(_ => card.Toughness)
            </td>
            <td>
                @Html.DisplayFor(_ => card.Loyalty)
            </td>
            <td>
                @Html.DisplayFor(_ => card.Location)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@card.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@card.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@card.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table> *@
