@page
@model MTGViewer.Pages.Trades.IndexModel

@using MTGViewer.Data

@{
    ViewData["Title"] = $"{Model.SelfUser.Name}'s Trades";
}


@if (!string.IsNullOrEmpty(Model.PostMessage))
{
    <div class="alert alert-secondary" role="alert">
        @Model.PostMessage
    </div>
}

<a asp-page="./Propose" 
    class="btn btn-secondary mb-3">
    New Trade
</a>

<h2>Pending Trades</h2>

<table class="table">
    <thead>
        <tr>
            <th>Target Deck</th>
            <th>Trading With</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (otherUser, deck) in Model.PendingTrades)
        {
            var proposerId = deck.OwnerId == otherUser.Id
                ? Model.SelfUser.Id
                : otherUser.Id;
            <tr>
                <td>@deck.Name</td>
                <td>@otherUser.Name</td>
                <td>
                    <a asp-page="./Propose" 
                        asp-route-proposerid="@proposerId"
                        asp-route-deckid="@deck.Id"
                        class="btn btn-secondary mb-3" >
                        Edit
                    </a>
                </td>
            </tr>
        }
        @foreach (var (otherUser, deck) in Model.ReceivedTrades)
        {
            var proposerId = deck.OwnerId == otherUser.Id
                ? Model.SelfUser.Id
                : otherUser.Id;
            <tr>
                <td>@deck.Name</td>
                <td>@otherUser.Name</td>
                <td>
                    <a asp-page="./Review" 
                        asp-route-proposerid="@proposerId"
                        asp-route-deckid="@deck.Id"
                        class="btn btn-secondary mb-3" >
                        View
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


<h2>Suggestions</h2>

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th> @Html.DisplayNameForInnerType((Trade t) => t.Card) </th>
                <th> Suggestion From </th>
                <th> @Html.DisplayNameForInnerType((Trade t) => t.To) </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var suggestion in Model.Suggestions)
            {
                <tr>
                    <td>
                        <a asp-page="/Cards/Details" asp-route-id="@suggestion.CardId">
                            @suggestion.Card.Name
                        </a>
                    </td>
                    <td>@suggestion.Proposer.Name</td>
                    <td>@suggestion.To.Name</td>
                    <td>
                        <input type="submit"
                            asp-route-suggestid="@suggestion.Id"
                            class="btn btn-secondary mb-3"
                            value="Acknowledge" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>